<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
    "-//Hibernate/Hibernate Configuration DTD//EN"
    "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
      <!--<property name="connection.url">jdbc:mysql://101.201.66.95:3306/winery</property>-->
      <property name="connection.url">jdbc:mysql://42.159.9.46:3306/winery</property>
      <property name="connection.driver_class">com.mysql.jdbc.Driver</property>
      <!--<property name="connection.url">jdbc:mysql://103.214.140.43:3306/chuangyetest</property>-->
    <!--<property name="connection.driver_class">com.mysql.jdbc.Driver</property>-->
      <!-- DB schema will be updated if needed -->
     <!--<property name="hbm2ddl.auto">update</property>-->
      <mapping class="com.changfa.frame.data.entity.TestDemoEntity"/>
      <mapping class="com.changfa.frame.data.entity.Area"/>
      <mapping class="com.changfa.frame.data.entity.user.BrowseRecord"/>
      <mapping class="com.changfa.frame.data.entity.user.UserIcon"/>
      <mapping class="com.changfa.frame.data.entity.user.UserLoginLog"/>
      <mapping class="com.changfa.frame.data.entity.user.UserPoint"/>
      <mapping class="com.changfa.frame.data.entity.user.UserPointDetail"/>
      <mapping class="com.changfa.frame.data.entity.activity.Activity"/>
      <mapping class="com.changfa.frame.data.entity.user.User"/>
      <mapping class="com.changfa.frame.data.entity.activity.ActivityContent"/>
      <mapping class="com.changfa.frame.data.entity.activity.ActivityLogo"/>
      <mapping class="com.changfa.frame.data.entity.user.MemberUser"/>
      <mapping class="com.changfa.frame.data.entity.user.MemberLevel"/>
      <mapping class="com.changfa.frame.data.entity.user.MemberLevelRight"/>
      <mapping class="com.changfa.frame.data.entity.activity.ActivityOrder"/>
      <mapping class="com.changfa.frame.data.entity.activity.ActivityOrderPrice"/>
      <mapping class="com.changfa.frame.data.entity.activity.ActivityOrderPriceItem"/>
      <mapping class="com.changfa.frame.data.entity.activity.ActivityOrderVoucher"/>
      <mapping class="com.changfa.frame.data.entity.deposit.DepositOrder"/>
      <mapping class="com.changfa.frame.data.entity.deposit.DepositRule"/>
      <mapping class="com.changfa.frame.data.entity.deposit.DepositRuleSpecDetail"/>
      <mapping class="com.changfa.frame.data.entity.deposit.UserBalance"/>
      <mapping class="com.changfa.frame.data.entity.deposit.UserDepositDetail"/>
      <mapping class="com.changfa.frame.data.entity.point.UserPoint"/>
      <mapping class="com.changfa.frame.data.entity.point.UserPointDetail"/>
      <mapping class="com.changfa.frame.data.entity.banner.Banner"/>
      <mapping class="com.changfa.frame.data.entity.voucher.UserVoucher"/>
      <mapping class="com.changfa.frame.data.entity.voucher.VoucherInst"/>
      <mapping class="com.changfa.frame.data.entity.winery.Winery"/>
      <mapping class="com.changfa.frame.data.entity.winery.WineryConfigure"/>
      <mapping class="com.changfa.frame.data.entity.user.UserExperience"/>
      <mapping class="com.changfa.frame.data.entity.user.UserExperienceDetail"/>
      <mapping class="com.changfa.frame.data.entity.order.OrderPay"/>
      <mapping class="com.changfa.frame.data.entity.point.PointRewardRule"/>
      <mapping class="com.changfa.frame.data.entity.offline.OfflineOrder"/>
      <mapping class="com.changfa.frame.data.entity.offline.OfflineOrderPrice"/>
      <mapping class="com.changfa.frame.data.entity.offline.OfflineOrderVoucher"/>
      <mapping class="com.changfa.frame.data.entity.activity.UserActivityTicket"/>
      <mapping class="com.changfa.frame.data.entity.user.UserLoginDetail"/>
      <mapping class="com.changfa.frame.data.entity.message.Message"/>
      <mapping class="com.changfa.frame.data.entity.message.MessageRange"/>
      <mapping class="com.changfa.frame.data.entity.message.MessageSend"/>
      <mapping class="com.changfa.frame.data.entity.point.PointToVoucher"/>
      <mapping class="com.changfa.frame.data.entity.message.UserMessage"/>
      <mapping class="com.changfa.frame.data.entity.market.UserMarketActivity"/>
      <mapping class="com.changfa.frame.data.entity.activity.QrCodeActivity"/>
      <mapping class="com.changfa.frame.data.entity.activity.QrCodeUrl"/>
      <mapping class="com.changfa.frame.data.entity.message.SmsTemp"/>
      <mapping class="com.changfa.frame.data.entity.message.SmsTempPara"/>
      <mapping class="com.changfa.frame.data.entity.message.SmsTempContent"/>
      <mapping class="com.changfa.frame.data.entity.message.MessageDetail"/>
      <mapping class="com.changfa.frame.data.entity.message.SmsSign"/>
      <mapping class="com.changfa.frame.data.entity.activity.WineryQrCode"/>
      <mapping class="com.changfa.frame.data.entity.user.ActivationCodeSMS"/>
      <mapping class="com.changfa.frame.data.entity.wine.UserWine"/>
      <mapping class="com.changfa.frame.data.entity.wine.UserWineDetail"/>
      <mapping class="com.changfa.frame.data.entity.wine.Wine"/>
      <mapping class="com.changfa.frame.data.entity.wine.WineOrder"/>
      <mapping class="com.changfa.frame.data.entity.wine.WineOrderPrice"/>
      <mapping class="com.changfa.frame.data.entity.prod.ProdContent"/>
  </session-factory>
</hibernate-configuration>