<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.changfa.frame.mapper.app.MbrBillRecordMapper" >
    <resultMap id="mbrBillRecordMap" type="com.changfa.frame.model.app.MbrBillRecord" >
        <id column="id" property="id" jdbcType="BIGINT" />
        <result column="pk_id" property="pkId" jdbcType="BIGINT" />
        <result column="mbr_id" property="mbrId" jdbcType="BIGINT" />
        <result column="winery_id" property="wineryId" jdbcType="BIGINT" />
        <result column="sign_type" property="signType" jdbcType="INTEGER" />
        <result column="bill_type" property="billType" jdbcType="INTEGER" />
        <result column="bill_remark" property="billRemark" jdbcType="VARCHAR" />
        <result column="bill_amt" property="billAmt" jdbcType="DECIMAL" />
        <result column="create_date" property="createDate" jdbcType="TIMESTAMP" />
        <result column="modify_date" property="modifyDate" jdbcType="TIMESTAMP" />
    </resultMap>

    <sql id="table_column" >
        mbr.id as id, mbr.pk_id as pk_id, mbr.mbr_id as mbr_id, mbr.winery_id as winery_id,
        mbr.sign_type as sign_type, mbr.bill_type as bill_type, mbr.bill_remark as bill_remark,
        mbr.bill_amt as bill_amt, mbr.create_date as create_date, mbr.modify_date as modify_date
    </sql>

    <select id="getById" resultMap="mbrBillRecordMap" parameterType="java.lang.Long" >
        select
        <include refid="table_column" />
        from m_mbr_bill_record mbr
        where mbr.id = #{id}
    </select>

    <insert id="save" parameterType="com.changfa.frame.model.app.MbrBillRecord" >
        insert into m_mbr_bill_record (id, pk_id, mbr_id, winery_id, sign_type, bill_type, bill_remark,
            bill_amt, create_date, modify_date)
        values (#{id}, #{pkId}, #{mbrId}, #{wineryId}, #{signType}, #{billType}, #{billRemark},
            #{billAmt}, #{createDate}, #{modifyDate})
    </insert>

    <update id="update" parameterType="com.changfa.frame.model.app.MbrBillRecord" >
        update m_mbr_bill_record
        <set >
            <if test="pkId != null" >
                pk_id = #{pkId},
            </if>
            <if test="mbrId != null" >
                mbr_id = #{mbrId},
            </if>
            <if test="wineryId != null" >
                winery_id = #{wineryId},
            </if>
            <if test="signType != null" >
                sign_type = #{signType},
            </if>
            <if test="billType != null" >
                bill_type = #{billType},
            </if>
            <if test="billRemark != null and billRemark != ''" >
                bill_remark = #{billRemark},
            </if>
            <if test="billAmt != null" >
                bill_amt = #{billAmt},
            </if>
            <if test="createDate != null" >
                create_date = #{createDate},
            </if>
            <if test="modifyDate != null" >
                modify_date = #{modifyDate},
            </if>
        </set>
        where id = #{id}
    </update>

    <delete id="delete" parameterType="java.lang.Long" >
        delete from m_mbr_bill_record
        where id = #{id}
    </delete>

    <select id="selectList" resultMap="mbrBillRecordMap" >
        select
        <include refid="table_column" />
        from m_mbr_bill_record mbr
        <where >
            <if test="pkId != null" >
                and mbr.pk_id = #{pkId}
            </if>
            <if test="mbrId != null" >
                and mbr.mbr_id = #{mbrId}
            </if>
            <if test="wineryId != null" >
                and mbr.winery_id = #{wineryId}
            </if>
            <if test="signType != null" >
                and mbr.sign_type = #{signType}
            </if>
            <if test="billType != null" >
                and mbr.bill_type = #{billType}
            </if>
            <if test="billRemark != null and billRemark != ''" >
                and mbr.bill_remark = #{billRemark}
            </if>
            <if test="billAmt != null" >
                and mbr.bill_amt = #{billAmt}
            </if>
            <if test="createDate != null" >
                and mbr.create_date = #{createDate}
            </if>
            <if test="modifyDate != null" >
                and mbr.modify_date = #{modifyDate}
            </if>
        </where>
    </select>

    <select id="selectFlowList" parameterType="Long" resultMap="mbrBillRecordMap">
        select
        <include refid="table_column" />
        from m_mbr_bill_record mbr where mbr.mbr_id = #{mbrId} and mbr.bill_type in (1,3,4)
    </select>

    <!-- 根据会员id、账单类型查询消费 -->
    <select id="getCustomAmtByType" resultType="java.math.BigDecimal">
        select
            sum(mbr.bill_amt) as total_bill_amt
        from m_mbr_bill_record mbr
        where 1=1
         and mbr.mbr_id = #{mbrId}
         and mbr.bill_type in
            <foreach collection="types" item="item" open="(" separator="," close=")">
                #{item}
            </foreach>
    </select>
</mapper>