<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.changfa.frame.mapper.app.MbrProdOrderMapper" >
    <resultMap id="mbrProdOrderMap" type="com.changfa.frame.model.app.MbrProdOrder" >
        <id column="id" property="id" jdbcType="BIGINT" />
        <result column="winery_id" property="wineryId" jdbcType="BIGINT" />
        <result column="mbr_id" property="mbrId" jdbcType="BIGINT" />
        <result column="pay_mode" property="payMode" jdbcType="INTEGER" />
        <result column="prod_total_cnt" property="prodTotalCnt" jdbcType="INTEGER" />
        <result column="pay_total_amt" property="payTotalAmt" jdbcType="DECIMAL" />
        <result column="pay_real_amt" property="payRealAmt" jdbcType="DECIMAL" />
        <result column="pay_integral_cnt" property="payIntegralCnt" jdbcType="DECIMAL" />
        <result column="order_status" property="orderStatus" jdbcType="INTEGER" />
        <result column="shipping_detail_addr" property="shippingDetailAddr" jdbcType="VARCHAR" />
        <result column="shipping_province_id" property="shippingProvinceId" jdbcType="BIGINT" />
        <result column="shipping_city_id" property="shippingCityId" jdbcType="BIGINT" />
        <result column="shipping_county_id" property="shippingCountyId" jdbcType="BIGINT" />
        <result column="shipping_person_name" property="shippingPersonName" jdbcType="VARCHAR" />
        <result column="shipping_person_phone" property="shippingPersonPhone" jdbcType="VARCHAR" />
        <result column="order_no" property="orderNo" jdbcType="VARCHAR" />
        <result column="transaction_no" property="transactionNo" jdbcType="VARCHAR" />
        <result column="pay_date" property="payDate" jdbcType="TIMESTAMP" />
        <result column="create_date" property="createDate" jdbcType="TIMESTAMP" />
        <result column="modify_date" property="modifyDate" jdbcType="TIMESTAMP" />
        <collection property="mbrProdOrderItems" ofType="com.changfa.frame.model.app.MbrProdOrderItem"
                    javaType="java.util.ArrayList"
                    select="com.changfa.frame.mapper.app.MbrProdOrderItemMapper.getByMbrProdOrderId"
                    column="mbr_prod_order_id">
        </collection>
    </resultMap>

    <sql id="table_column" >
        mir.id as id, mir.winery_id as winery_id, mir.mbr_id as mbr_id, mir.pay_mode as pay_mode,
        mir.prod_total_cnt as prod_total_cnt, mir.pay_total_amt as pay_total_amt, mir.pay_real_amt as pay_real_amt,
        mir.pay_integral_cnt as pay_integral_cnt, mir.order_status as order_status, mir.shipping_detail_addr as shipping_detail_addr,
        mir.shipping_province_id as shipping_province_id, mir.shipping_city_id as shipping_city_id,
        mir.shipping_county_id as shipping_county_id, mir.shipping_person_name as shipping_person_name,
        mir.shipping_person_phone as shipping_person_phone, mir.order_no as order_no, mir.transaction_no as transaction_no,
        mir.pay_date as pay_date, mir.create_date as create_date, mir.modify_date as modify_date
    </sql>

    <select id="getById" resultMap="mbrProdOrderMap" parameterType="java.lang.Long" >
        select
        <include refid="table_column" />
        from m_mbr_prod_order mir
        where mir.id = #{id}
    </select>

    <insert id="save" parameterType="com.changfa.frame.model.app.MbrProdOrder" >
        insert into m_mbr_prod_order (id, winery_id, mbr_id, pay_mode, prod_total_cnt, pay_total_amt,
            pay_real_amt, pay_integral_cnt, order_status, shipping_detail_addr, shipping_province_id,
            shipping_city_id, shipping_county_id, shipping_person_name, shipping_person_phone,
            order_no, transaction_no, pay_date, create_date, modify_date)
        values (#{id}, #{wineryId}, #{mbrId}, #{payMode}, #{prodTotalCnt}, #{payTotalAmt},
            #{payRealAmt}, #{payIntegralCnt}, #{orderStatus}, #{shippingDetailAddr}, #{shippingProvinceId},
            #{shippingCityId}, #{shippingCountyId}, #{shippingPersonName}, #{shippingPersonPhone},
            #{orderNo}, #{transactionNo}, #{payDate}, #{createDate}, #{modifyDate})
    </insert>

    <update id="update" parameterType="com.changfa.frame.model.app.MbrProdOrder" >
        update m_mbr_prod_order
        <set >
            <if test="wineryId != null" >
                winery_id = #{wineryId},
            </if>
            <if test="mbrId != null" >
                mbr_id = #{mbrId},
            </if>
            <if test="payMode != null" >
                pay_mode = #{payMode},
            </if>
            <if test="prodTotalCnt != null" >
                prod_total_cnt = #{prodTotalCnt},
            </if>
            <if test="payTotalAmt != null" >
                pay_total_amt = #{payTotalAmt},
            </if>
            <if test="payRealAmt != null" >
                pay_real_amt = #{payRealAmt},
            </if>
            <if test="payIntegralCnt != null" >
                pay_integral_cnt = #{payIntegralCnt},
            </if>
            <if test="orderStatus != null" >
                order_status = #{orderStatus},
            </if>
            <if test="shippingDetailAddr != null and shippingDetailAddr != ''" >
                shipping_detail_addr = #{shippingDetailAddr},
            </if>
            <if test="shippingProvinceId != null" >
                shipping_province_id = #{shippingProvinceId},
            </if>
            <if test="shippingCityId != null" >
                shipping_city_id = #{shippingCityId},
            </if>
            <if test="shippingCountyId != null" >
                shipping_county_id = #{shippingCountyId},
            </if>
            <if test="shippingPersonName != null and shippingPersonName != ''" >
                shipping_person_name = #{shippingPersonName},
            </if>
            <if test="shippingPersonPhone != null and shippingPersonPhone != ''" >
                shipping_person_phone = #{shippingPersonPhone},
            </if>
            <if test="orderNo != null and orderNo != ''" >
                order_no = #{orderNo},
            </if>
            <if test="transactionNo != null and transactionNo != ''" >
                transaction_no = #{transactionNo},
            </if>
            <if test="payDate != null" >
                pay_date = #{payDate},
            </if>
            <if test="createDate != null" >
                create_date = #{createDate},
            </if>
            <if test="modifyDate != null" >
                modify_date = #{modifyDate},
            </if>
        </set>
        where id = #{id}
    </update>

    <delete id="delete" parameterType="java.lang.Long" >
        delete from m_mbr_prod_order
        where id = #{id}
    </delete>

    <select id="selectList" resultMap="mbrProdOrderMap" >
        select
        <include refid="table_column" />
        from m_mbr_prod_order mir
        <where >
            <if test="wineryId != null" >
                and mir.winery_id = #{wineryId}
            </if>
            <if test="mbrId != null" >
                and mir.mbr_id = #{mbrId}
            </if>
            <if test="payMode != null" >
                and mir.pay_mode = #{payMode}
            </if>
            <if test="prodTotalCnt != null" >
                and mir.prod_total_cnt = #{prodTotalCnt}
            </if>
            <if test="payTotalAmt != null" >
                and mir.pay_total_amt = #{payTotalAmt}
            </if>
            <if test="payRealAmt != null" >
                and mir.pay_real_amt = #{payRealAmt}
            </if>
            <if test="payIntegralCnt != null" >
                and mir.pay_integral_cnt = #{payIntegralCnt}
            </if>
            <if test="orderStatus != null" >
                and mir.order_status = #{orderStatus}
            </if>
            <if test="shippingDetailAddr != null and shippingDetailAddr != ''" >
                and mir.shipping_detail_addr = #{shippingDetailAddr}
            </if>
            <if test="shippingProvinceId != null" >
                and mir.shipping_province_id = #{shippingProvinceId}
            </if>
            <if test="shippingCityId != null" >
                and mir.shipping_city_id = #{shippingCityId}
            </if>
            <if test="shippingCountyId != null" >
                and mir.shipping_county_id = #{shippingCountyId}
            </if>
            <if test="shippingPersonName != null and shippingPersonName != ''" >
                and mir.shipping_person_name = #{shippingPersonName}
            </if>
            <if test="shippingPersonPhone != null and shippingPersonPhone != ''" >
                and mir.shipping_person_phone = #{shippingPersonPhone}
            </if>
            <if test="orderNo != null and orderNo != ''" >
                and mir.order_no = #{orderNo}
            </if>
            <if test="transactionNo != null and transactionNo != ''" >
                and mir.transaction_no = #{transactionNo}
            </if>
            <if test="payDate != null" >
                and mir.pay_date = #{payDate}
            </if>
            <if test="createDate != null" >
                and mir.create_date = #{createDate}
            </if>
            <if test="modifyDate != null" >
                and mir.modify_date = #{modifyDate}
            </if>
        </where>
    </select>

    <!-- 依据订单号查询订单 -->
    <select id="getByOrderNo" resultMap="mbrProdOrderMap" parameterType="java.lang.String" >
        select
        <include refid="table_column" />
        from m_mbr_prod_order mpo
        where mpo.order_no = #{orderNo}
    </select>


    <select id="getListByStatus" resultMap="mbrProdOrderMap" >
        select
        <include refid="table_column" />
        from m_mbr_prod_order mir
        where mir.mbr_id = #{mbrId} and mir.order_status =#{status}
        order by mir.create_time DESC
    </select>
</mapper>