<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.changfa.frame.mapper.app.MbrProdOrderRecordMapper" >
    <resultMap id="mbrProdOrderRecordMap" type="com.changfa.frame.model.app.MbrProdOrderRecord" >
        <id column="id" property="id" jdbcType="BIGINT" />
        <result column="mbr_prod_order_id" property="mbrProdOrderId" jdbcType="BIGINT" />
        <result column="order_status" property="orderStatus" jdbcType="INTEGER" />
        <result column="order_remark" property="orderRemark" jdbcType="VARCHAR" />
        <result column="create_date" property="createDate" jdbcType="TIMESTAMP" />
        <result column="modify_date" property="modifyDate" jdbcType="TIMESTAMP" />
    </resultMap>

    <sql id="table_column" >
        mpor.id as id, mpor.mbr_prod_order_id as mbr_prod_order_id, mpor.order_status as order_status,
        mpor.order_remark as order_remark, mpor.create_date as create_date, mpor.modify_date as modify_date
    </sql>

    <select id="getById" resultMap="mbrProdOrderRecordMap" parameterType="java.lang.Long" >
        select
        <include refid="table_column" />
        from m_mbr_prod_order_record mpor
        where mpor.id = #{id}
    </select>

    <insert id="save" parameterType="com.changfa.frame.model.app.MbrProdOrderRecord" >
        insert into m_mbr_prod_order_record (id, mbr_prod_order_id, order_status, order_remark, create_date,
            modify_date)
        values (#{id}, #{mbrProdOrderId}, #{orderStatus}, #{orderRemark}, #{createDate},
            #{modifyDate})
    </insert>

    <update id="update" parameterType="com.changfa.frame.model.app.MbrProdOrderRecord" >
        update m_mbr_prod_order_record
        <set >
            <if test="mbrProdOrderId != null" >
                mbr_prod_order_id = #{mbrProdOrderId},
            </if>
            <if test="orderStatus != null" >
                order_status = #{orderStatus},
            </if>
            <if test="orderRemark != null and orderRemark != ''" >
                order_remark = #{orderRemark},
            </if>
            <if test="createDate != null" >
                create_date = #{createDate},
            </if>
            <if test="modifyDate != null" >
                modify_date = #{modifyDate},
            </if>
        </set>
        where id = #{id}
    </update>

    <delete id="delete" parameterType="java.lang.Long" >
        delete from m_mbr_prod_order_record
        where id = #{id}
    </delete>

    <select id="selectList" resultMap="mbrProdOrderRecordMap" >
        select
        <include refid="table_column" />
        from m_mbr_prod_order_record mpor
        <where >
            <if test="mbrProdOrderId != null" >
                and mpor.mbr_prod_order_id = #{mbrProdOrderId}
            </if>
            <if test="orderStatus != null" >
                and mpor.order_status = #{orderStatus}
            </if>
            <if test="orderRemark != null and orderRemark != ''" >
                and mpor.order_remark = #{orderRemark}
            </if>
            <if test="createDate != null" >
                and mpor.create_date = #{createDate}
            </if>
            <if test="modifyDate != null" >
                and mpor.modify_date = #{modifyDate}
            </if>
        </where>
    </select>

</mapper>