<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.changfa.frame.mapper.app.MbrProdOrderItemMapper" >
    <resultMap id="mbrProdOrderItemMap" type="com.changfa.frame.model.app.MbrProdOrderItem" >
        <id column="id" property="id" jdbcType="BIGINT" />
        <result column="mbr_prod_order_id" property="mbrProdOrderId" jdbcType="BIGINT" />
        <result column="winery_id" property="wineryId" jdbcType="BIGINT" />
        <result column="mbr_id" property="mbrId" jdbcType="BIGINT" />
        <result column="prod_sku_id" property="prodSkuId" jdbcType="BIGINT" />
        <result column="prod_sku_cnt" property="prodSkuCnt" jdbcType="INTEGER" />
        <result column="sku_name" property="skuName" jdbcType="VARCHAR" />
        <result column="sku_market_price" property="skuMarketPrice" jdbcType="DECIMAL" />
        <result column="sku_sell_price" property="skuSellPrice" jdbcType="DECIMAL" />
        <result column="sku_mbr_price" property="skuMbrPrice" jdbcType="DECIMAL" />
        <result column="is_integral" property="isIntegral" jdbcType="TINYINT" />
        <result column="integral_amt" property="integralAmt" jdbcType="DECIMAL" />
        <result column="integral_cnt" property="integralCnt" jdbcType="DECIMAL" />
        <result column="create_date" property="createDate" jdbcType="TIMESTAMP" />
        <result column="modify_date" property="modifyDate" jdbcType="TIMESTAMP" />
    </resultMap>

    <sql id="table_column" >
        mpoi.id as id, mpoi.mbr_prod_order_id as mbr_prod_order_id, mpoi.winery_id as winery_id,
        mpoi.mbr_id as mbr_id, mpoi.prod_sku_id as prod_sku_id, mpoi.prod_sku_cnt as prod_sku_cnt,
        mpoi.sku_name as sku_name, mpoi.sku_market_price as sku_market_price, mpoi.sku_sell_price as sku_sell_price,
        mpoi.sku_mbr_price as sku_mbr_price, mpoi.is_integral as is_integral, mpoi.integral_amt as integral_amt,
        mpoi.integral_cnt as integral_cnt, mpoi.create_date as create_date, mpoi.modify_date as modify_date
    </sql>

    <select id="getById" resultMap="mbrProdOrderItemMap" parameterType="java.lang.Long" >
        select
        <include refid="table_column" />
        from m_mbr_prod_order_item mpoi
        where mpoi.id = #{id}
    </select>

    <select id="getByMbrProdOrderId" resultMap="mbrProdOrderItemMap" parameterType="java.lang.Long" >
        select
        <include refid="table_column" />
        from m_mbr_prod_order_item mpoi
        where mpoi.mbr_prod_order_id = #{mbrProdOrderId}
    </select>

    <insert id="save" parameterType="com.changfa.frame.model.app.MbrProdOrderItem" >
        insert into m_mbr_prod_order_item (id, mbr_prod_order_id, winery_id, mbr_id, prod_sku_id, prod_sku_cnt,
            sku_name, sku_market_price, sku_sell_price, sku_mbr_price, is_integral,
            integral_amt, integral_cnt, create_date, modify_date)
        values (#{id}, #{mbrProdOrderId}, #{wineryId}, #{mbrId}, #{prodSkuId}, #{prodSkuCnt},
            #{skuName}, #{skuMarketPrice}, #{skuSellPrice}, #{skuMbrPrice}, #{isIntegral},
            #{integralAmt}, #{integralCnt}, #{createDate}, #{modifyDate})
    </insert>

    <update id="update" parameterType="com.changfa.frame.model.app.MbrProdOrderItem" >
        update m_mbr_prod_order_item
        <set >
            <if test="mbrProdOrderId != null" >
                mbr_prod_order_id = #{mbrProdOrderId},
            </if>
            <if test="wineryId != null" >
                winery_id = #{wineryId},
            </if>
            <if test="mbrId != null" >
                mbr_id = #{mbrId},
            </if>
            <if test="prodSkuId != null" >
                prod_sku_id = #{prodSkuId},
            </if>
            <if test="prodSkuCnt != null" >
                prod_sku_cnt = #{prodSkuCnt},
            </if>
            <if test="skuName != null" >
                sku_name = #{skuName},
            </if>
            <if test="skuMarketPrice != null" >
                sku_market_price = #{skuMarketPrice},
            </if>
            <if test="skuSellPrice != null" >
                sku_sell_price = #{skuSellPrice},
            </if>
            <if test="skuMbrPrice != null" >
                sku_mbr_price = #{skuMbrPrice},
            </if>
            <if test="isIntegral != null" >
                is_integral = #{isIntegral},
            </if>
            <if test="integralAmt != null" >
                integral_amt = #{integralAmt},
            </if>
            <if test="integralCnt != null" >
                integral_cnt = #{integralCnt},
            </if>
            <if test="createDate != null" >
                create_date = #{createDate},
            </if>
            <if test="modifyDate != null" >
                modify_date = #{modifyDate},
            </if>
        </set>
        where id = #{id}
    </update>

    <delete id="delete" parameterType="java.lang.Long" >
        delete from m_mbr_prod_order_item
        where id = #{id}
    </delete>

    <select id="selectList" resultMap="mbrProdOrderItemMap" >
        select
        <include refid="table_column" />
        from m_mbr_prod_order_item mpoi
        <where >
            <if test="mbrProdOrderId != null" >
                and mpoi.mbr_prod_order_id = #{mbrProdOrderId}
            </if>
            <if test="wineryId != null" >
                and mpoi.winery_id = #{wineryId}
            </if>
            <if test="mbrId != null" >
                and mpoi.mbr_id = #{mbrId}
            </if>
            <if test="prodSkuId != null" >
                and mpoi.prod_sku_id = #{prodSkuId}
            </if>
            <if test="prodSkuCnt != null" >
                and mpoi.prod_sku_cnt = #{prodSkuCnt}
            </if>
            <if test="skuName != null" >
                and mpoi.sku_name = #{skuName}
            </if>
            <if test="skuMarketPrice != null" >
                and mpoi.sku_market_price = #{skuMarketPrice}
            </if>
            <if test="skuSellPrice != null" >
                and mpoi.sku_sell_price = #{skuSellPrice}
            </if>
            <if test="skuMbrPrice != null" >
                and mpoi.sku_mbr_price = #{skuMbrPrice}
            </if>
            <if test="isIntegral != null" >
                and mpoi.is_integral = #{isIntegral}
            </if>
            <if test="integralAmt != null" >
                and mpoi.integral_amt = #{integralAmt}
            </if>
            <if test="integralCnt != null" >
                and mpoi.integral_cnt = #{integralCnt}
            </if>
            <if test="createDate != null" >
                and mpoi.create_date = #{createDate}
            </if>
            <if test="modifyDate != null" >
                and mpoi.modify_date = #{modifyDate}
            </if>
        </where>
    </select>

</mapper>