<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.changfa.frame.mapper.app.MbrWechatMapper" >
    <resultMap id="mbrWechatMap" type="com.changfa.frame.model.app.MbrWechat" >
        <id column="id" property="id" jdbcType="BIGINT" />
        <result column="mbr_id" property="mbrId" jdbcType="BIGINT" />
        <result column="nick_name" property="nickName" jdbcType="VARCHAR" />
        <result column="gender" property="gender" jdbcType="INTEGER" />
        <result column="province" property="province" jdbcType="VARCHAR" />
        <result column="city" property="city" jdbcType="VARCHAR" />
        <result column="country" property="country" jdbcType="VARCHAR" />
        <result column="avatar_url" property="avatarUrl" jdbcType="VARCHAR" />
        <result column="unionId" property="unionid" jdbcType="VARCHAR" />
        <result column="birthday" property="birthday" jdbcType="TIMESTAMP" />
        <result column="create_date" property="createDate" jdbcType="TIMESTAMP" />
        <result column="modify_date" property="modifyDate" jdbcType="TIMESTAMP" />
    </resultMap>

    <sql id="table_column" >
        mw.id as id, mw.mbr_id as mbr_id, mw.nick_name as nick_name, mw.gender as gender,
        mw.province as province, mw.city as city, mw.country as country, mw.avatar_url as avatar_url,
        mw.unionId as unionId, mw.birthday as birthday, mw.create_date as create_date, mw.modify_date as modify_date
    </sql>

    <select id="getById" resultMap="mbrWechatMap" parameterType="java.lang.Long" >
        select
        <include refid="table_column" />
        from m_mbr_wechat mw
        where mw.id = #{id}
    </select>

    <insert id="save" parameterType="com.changfa.frame.model.app.MbrWechat" >
        insert into m_mbr_wechat (id, mbr_id, nick_name, gender, province, city, country,
            avatar_url, unionId, birthday, create_date, modify_date)
        values (#{id}, #{mbrId}, #{nickName}, #{gender}, #{province}, #{city}, #{country},
            #{avatarUrl}, #{unionid}, #{birthday}, #{createDate}, #{modifyDate})
    </insert>

    <update id="update" parameterType="com.changfa.frame.model.app.MbrWechat" >
        update m_mbr_wechat
        <set >
            <if test="mbrId != null" >
                mbr_id = #{mbrId},
            </if>
            <if test="nickName != null and nickName != ''" >
                nick_name = #{nickName},
            </if>
            <if test="gender != null" >
                gender = #{gender},
            </if>
            <if test="province != null and province != ''" >
                province = #{province},
            </if>
            <if test="city != null and city != ''" >
                city = #{city},
            </if>
            <if test="country != null and country != ''" >
                country = #{country},
            </if>
            <if test="avatarUrl != null and avatarUrl != ''" >
                avatar_url = #{avatarUrl},
            </if>
            <if test="unionid != null and unionid != ''" >
                unionId = #{unionid},
            </if>
            <if test="birthday != null" >
                birthday = #{birthday},
            </if>
             <if test="createDate != null" >
                create_date = #{createDate},
            </if>
            <if test="modifyDate != null" >
                modify_date = #{modifyDate},
            </if>
        </set>
        where id = #{id}
    </update>

    <delete id="delete" parameterType="java.lang.Long" >
        delete from m_mbr_wechat
        where id = #{id}
    </delete>

    <select id="selectList" resultMap="mbrWechatMap" >
        select
        <include refid="table_column" />
        from m_mbr_wechat mw
        <where >
            <if test="mbrId != null" >
                and mw.mbr_id = #{mbrId}
            </if>
            <if test="nickName != null and nickName != ''" >
                and mw.nick_name = #{nickName}
            </if>
            <if test="gender != null" >
                and mw.gender = #{gender}
            </if>
            <if test="province != null and province != ''" >
                and mw.province = #{province}
            </if>
            <if test="city != null and city != ''" >
                and mw.city = #{city}
            </if>
            <if test="country != null and country != ''" >
                and mw.country = #{country}
            </if>
            <if test="avatarUrl != null and avatarUrl != ''" >
                and mw.avatar_url = #{avatarUrl}
            </if>
            <if test="unionid != null and unionid != ''" >
                and mw.unionId = #{unionid}
            </if>
            <if test="birthday != null" >
                and mw.birthday = #{birthday}
            </if>
            <if test="createDate != null" >
                and mw.create_date = #{createDate}
            </if>
            <if test="modifyDate != null" >
                and mw.modify_date = #{modifyDate}
            </if>
        </where>
    </select>

    <select id="selectListByMbrIdAndWineryId" resultMap="mbrWechatMap">
        select
        <include refid="table_column" />
        from m_mbr_wechat where mbr_id = #{mbrId}
    </select>

</mapper>