<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.changfa.frame.mapper.app.MemberMapper" >
    <resultMap id="memberMap" type="com.changfa.frame.model.app.Member" >
        <id column="id" property="id" jdbcType="BIGINT" />
        <result column="mbr_level_id" property="mbrLevelId" jdbcType="BIGINT" />
        <result column="winery_id" property="wineryId" jdbcType="BIGINT" />
        <result column="mbr_name" property="mbrName" jdbcType="VARCHAR" />
        <result column="phone" property="phone" jdbcType="VARCHAR" />
        <result column="open_id" property="openId" jdbcType="VARCHAR" />
        <result column="user_icon" property="userIcon" jdbcType="VARCHAR" />
        <result column="status" property="status" jdbcType="INTEGER" />
        <result column="status_time" property="statusTime" jdbcType="TIMESTAMP" />
        <result column="total_integral" property="totalIntegral" jdbcType="DECIMAL" />
        <result column="total_store_remain" property="totalStoreRemain" jdbcType="DECIMAL" />
        <result column="total_store_increment" property="totalStoreIncrement" jdbcType="DECIMAL" />
        <result column="market_qr_code" property="marketQrCode" jdbcType="VARCHAR" />
        <result column="market_pid" property="marketPid" jdbcType="BIGINT" />
        <result column="acct_balance" property="acctBalance" jdbcType="DECIMAL" />
        <result column="age" property="age" jdbcType="INTEGER" />
        <result column="gender" property="gender" jdbcType="INTEGER" />
        <result column="invite_return_amt" property="inviteReturnAmt" jdbcType="DECIMAL" />
        <result column="recharge_return_amt" property="rechargeReturnAmt" jdbcType="DECIMAL" />
        <result column="create_date" property="createDate" jdbcType="TIMESTAMP" />
        <result column="modify_date" property="modifyDate" jdbcType="TIMESTAMP" />

        <!-- 扩展字段 -->
        <result column="level_name" property="levelName" jdbcType="VARCHAR" />
        <result column="nick_name" property="nickName" jdbcType="VARCHAR" />
        <result column="is_master" property="isMaster" jdbcType="BIT" />
    </resultMap>

    <sql id="table_column" >
        mbr.id as id, mbr.mbr_level_id as mbr_level_id, mbr.winery_id as winery_id, mbr.mbr_name as mbr_name,
        mbr.phone as phone, mbr.open_id as open_id, mbr.user_icon as user_icon, mbr.status as status,
        mbr.status_time as status_time, mbr.total_integral as total_integral, mbr.total_store_remain as total_store_remain,
        mbr.total_store_increment as total_store_increment, mbr.market_qr_code as market_qr_code,
        mbr.market_pid as market_pid, mbr.acct_balance as acct_balance, mbr.age as age, mbr.gender as gender,
        mbr.invite_return_amt as invite_return_amt, mbr.recharge_return_amt as recharge_return_amt, mbr.create_date as create_date, mbr.modify_date as modify_date
    </sql>

    <select id="getById" resultMap="memberMap" parameterType="java.lang.Long" >
        select
        <include refid="table_column" />
        from m_member mbr
        where mbr.id = #{id}
    </select>

    <insert id="save" parameterType="com.changfa.frame.model.app.Member" >
        insert into m_member (id, mbr_level_id, winery_id, mbr_name, phone, open_id, user_icon,
            status, status_time, total_integral, total_store_remain, total_store_increment,
            market_qr_code, market_pid, acct_balance, age, gender, return_amt,
            create_date, modify_date)
        values (#{id}, #{mbrLevelId}, #{wineryId}, #{mbrName}, #{phone}, #{openId}, #{userIcon},
            #{status}, #{statusTime}, #{totalIntegral}, #{totalStoreRemain}, #{totalStoreIncrement},
            #{marketQrCode}, #{marketPid}, #{acctBalance}, #{age}, #{gender}, #{invite_return_amt}, #{recharge_return_amt},
            #{createDate}, #{modifyDate})
    </insert>

    <update id="update" parameterType="com.changfa.frame.model.app.Member" >
        update m_member
        <set >
            <if test="mbrLevelId != null" >
                mbr_level_id = #{mbrLevelId},
            </if>
            <if test="wineryId != null" >
                winery_id = #{wineryId},
            </if>
            <if test="mbrName != null and mbrName != ''" >
                mbr_name = #{mbrName},
            </if>
            <if test="phone != null and phone != ''" >
                phone = #{phone},
            </if>
            <if test="openId != null and openId != ''" >
                open_id = #{openId},
            </if>
            <if test="userIcon != null and userIcon != ''" >
                user_icon = #{userIcon},
            </if>
            <if test="status != null" >
                status = #{status},
            </if>
            <if test="statusTime != null" >
                status_time = #{statusTime},
            </if>
            <if test="totalIntegral != null" >
                total_integral = #{totalIntegral},
            </if>
            <if test="totalStoreRemain != null" >
                total_store_remain = #{totalStoreRemain},
            </if>
            <if test="totalStoreIncrement != null" >
                total_store_increment = #{totalStoreIncrement},
            </if>
            <if test="marketQrCode != null and marketQrCode != ''" >
                market_qr_code = #{marketQrCode},
            </if>
            <if test="marketPid != null" >
                market_pid = #{marketPid},
            </if>
            <if test="acctBalance != null" >
                acct_balance = #{acctBalance},
            </if>
            <if test="age != null" >
                age = #{age},
            </if>
            <if test="gender != null" >
                gender = #{gender},
            </if>
            <if test="inviteReturnAmt != null" >
                invite_return_amt = #{inviteReturnAmt},
            </if>
            <if test="rechargeReturnAmt != null" >
                recharge_return_amt = #{rechargeReturnAmt},
            </if>
            <if test="createDate != null" >
                create_date = #{createDate},
            </if>
            <if test="modifyDate != null" >
                modify_date = #{modifyDate},
            </if>
        </set>
        where id = #{id}
    </update>

    <delete id="delete" parameterType="java.lang.Long" >
        delete from m_member
        where id = #{id}
    </delete>

    <select id="selectList" resultMap="memberMap" >
        select
        <include refid="table_column" />
        from m_member mbr
        <where >
            <if test="mbrLevelId != null" >
                and mbr.mbr_level_id = #{mbrLevelId}
            </if>
            <if test="wineryId != null" >
                and mbr.winery_id = #{wineryId}
            </if>
            <if test="mbrName != null and mbrName != ''" >
                and mbr.mbr_name = #{mbrName}
            </if>
            <if test="phone != null and phone != ''" >
                and mbr.phone = #{phone}
            </if>
            <if test="openId != null and openId != ''" >
                and mbr.open_id = #{openId}
            </if>
            <if test="userIcon != null and userIcon != ''" >
                and mbr.user_icon = #{userIcon}
            </if>
            <if test="status != null" >
                and mbr.status = #{status}
            </if>
            <if test="statusTime != null" >
                and mbr.status_time = #{statusTime}
            </if>
            <if test="totalIntegral != null" >
                and mbr.total_integral = #{totalIntegral}
            </if>
            <if test="totalStoreRemain != null" >
                and mbr.total_store_remain = #{totalStoreRemain}
            </if>
            <if test="totalStoreIncrement != null" >
                and mbr.total_store_increment = #{totalStoreIncrement}
            </if>
            <if test="marketQrCode != null and marketQrCode != ''" >
                and mbr.market_qr_code = #{marketQrCode}
            </if>
            <if test="marketPid != null" >
                and mbr.market_pid = #{marketPid}
            </if>
            <if test="acctBalance != null" >
                and mbr.acct_balance = #{acctBalance}
            </if>
            <if test="age != null" >
                and mbr.age = #{age}
            </if>
            <if test="gender != null" >
                and mbr.gender = #{gender}
            </if>
            <if test="inviteReturnAmt != null" >
                and mbr.invite_return_amt = #{inviteReturnAmt},
            </if>
            <if test="rechargeReturnAmt != null" >
                and mbr.recharge_return_amt = #{rechargeReturnAmt},
            </if>
            <if test="createDate != null" >
                and mbr.create_date = #{createDate}
            </if>
            <if test="modifyDate != null" >
                and mbr.modify_date = #{modifyDate}
            </if>
        </where>
    </select>

    <!-- 根据手机号查询会员 -->
    <select id="selectByPhone" resultMap="memberMap" parameterType="java.lang.String" >
        select
        <include refid="table_column" />
        from m_member
        where phone = #{phone}
    </select>

    <select id="selectSubList" parameterType="java.lang.Long"  resultType="java.util.Map">
        select m.user_icon,m.nick_name,b.bill_amt,b.sign_type,b.create_date,l.descri from m_member m
        left join m_mbr_bill_record b on m.id = b.pk_id
        left join m_mbr_level l on m.mbr_level_id=l.id
        where m.market_pid =#{mbrId}
    </select>

    <select id="selectSubStatis" parameterType="java.lang.Long"  resultType="java.util.Map">
        select sum(b.bill_amt) amt, count(m.id) count from m_member m
        left join m_mbr_bill_record b on m.id = b.pk_id
        left join m_mbr_level l on m.mbr_level_id=l.id
        where m.market_pid =#{mbrId}
    </select>

    <!-- 根据openId查询会员 -->
    <select id="selectByOpenId" resultMap="memberMap" parameterType="java.lang.String" >
        select
        <include refid="table_column" />,
        ml.name as level_name,
        mw.nick_name as nick_name,
        IFNULL(wm.id,FALSE) as is_master
        from m_member as mbr
        left join m_mbr_level as ml on ml.id = mbr.mbr_level_id
        left join m_mbr_wechat as mw on mw.mbr_id = mbr.id
        left join b_winery_master as wm on wm.mbr_id = mbr.id
        where mbr.open_id = #{openId}
    </select>

</mapper>