<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.changfa.frame.mapper.app.ProdSkuMapper" >
    <resultMap id="prodSkuMap" type="com.changfa.frame.model.app.ProdSku" >
        <id column="id" property="id" jdbcType="BIGINT" />
        <result column="prod_id" property="prodId" jdbcType="BIGINT" />
        <result column="sku_name" property="skuName" jdbcType="VARCHAR" />
        <result column="sku_status" property="skuStatus" jdbcType="INTEGER" />
        <result column="sku_stock_cnt" property="skuStockCnt" jdbcType="BIGINT" />
        <result column="fragrance_type" property="fragranceType" jdbcType="VARCHAR" />
        <result column="alcohol_cnt" property="alcoholCnt" jdbcType="DECIMAL" />
        <result column="sku_weight" property="skuWeight" jdbcType="DECIMAL" />
        <result column="sku_capacity" property="skuCapacity" jdbcType="DECIMAL" />
        <result column="sku_sell_price" property="skuSellPrice" jdbcType="DECIMAL" />
        <result column="sku_market_price" property="skuMarketPrice" jdbcType="DECIMAL" />
        <result column="sell_total_cnt" property="sellTotalCnt" jdbcType="INTEGER" />
        <result column="sort" property="sort" jdbcType="INTEGER" />
        <result column="is_integral" property="isIntegral" jdbcType="TINYINT" />
        <result column="integral_amt" property="integralAmt" jdbcType="DECIMAL" />
        <result column="integral_cnt" property="integralCnt" jdbcType="DECIMAL" />
        <result column="is_del" property="isDel" jdbcType="BIT" />
        <result column="create_date" property="createDate" jdbcType="TIMESTAMP" />
        <result column="modify_date" property="modifyDate" jdbcType="TIMESTAMP" />
    </resultMap>

    <sql id="table_column" >
        id, prod_id, sku_name, sku_status, sku_stock_cnt, fragrance_type,alcohol_cnt, sku_weight, sku_capacity, sku_sell_price,
        sku_market_price, sell_total_cnt, sort, is_integral, integral_amt, integral_cnt, is_del,
        create_date, modify_date
    </sql>

    <select id="getById" resultMap="prodSkuMap" parameterType="java.lang.Long" >
        select 
        <include refid="table_column" />
        from s_prod_sku
        where id = #{id}
    </select>

    <insert id="save" parameterType="com.changfa.frame.model.app.ProdSku" >
        insert into s_prod_sku (id, prod_id, sku_name, sku_status, sku_stock_cnt, fragrance_type, alcohol_cnt, sku_weight,
            sku_capacity, sku_sell_price, sku_market_price, sell_total_cnt, sort, 
            is_integral, integral_amt, integral_cnt, is_del, create_date, modify_date)
        values (#{id}, #{prodId}, #{skuName}, #{skuStatus}, #{skuStockCnt}, #{fragranceType}, #{alcoholCnt}, #{skuWeight},
            #{skuCapacity}, #{skuSellPrice}, #{skuMarketPrice}, #{sellTotalCnt}, #{sort}, 
            #{isIntegral}, #{integralAmt}, #{integralCnt}, #{isDel}, #{createDate}, #{modifyDate})
    </insert>

    <update id="update" parameterType="com.changfa.frame.model.app.ProdSku" >
        update s_prod_sku
        <set >
            <if test="prodId != null" >
                prod_id = #{prodId},
            </if>
            <if test="skuName != null" >
                sku_name = #{skuName},
            </if>
            <if test="skuStatus != null" >
                sku_status = #{skuStatus},
            </if>
            <if test="skuStockCnt != null" >
                sku_stock_cnt = #{skuStockCnt},
            </if>
            <if test="fragranceType != null" >
                fragrance_type = #{fragranceType},
            </if>
            <if test="alcoholCnt != null" >
                alcohol_cnt = #{alcoholCnt},
            </if>
            <if test="skuWeight != null" >
                sku_weight = #{skuWeight},
            </if>
            <if test="skuCapacity != null" >
                sku_capacity = #{skuCapacity},
            </if>
            <if test="skuSellPrice != null" >
                sku_sell_price = #{skuSellPrice},
            </if>
            <if test="skuMarketPrice != null" >
                sku_market_price = #{skuMarketPrice},
            </if>
            <if test="sellTotalCnt != null" >
                sell_total_cnt = #{sellTotalCnt},
            </if>
            <if test="sort != null" >
                sort = #{sort},
            </if>
            <if test="isIntegral != null" >
                is_integral = #{isIntegral},
            </if>
            <if test="integralAmt != null" >
                integral_amt = #{integralAmt},
            </if>
            <if test="integralCnt != null" >
                integral_cnt = #{integralCnt},
            </if>
            <if test="isDel != null" >
                is_del = #{isDel},
            </if>
            <if test="createDate != null" >
                create_date = #{createDate},
            </if>
            <if test="modifyDate != null" >
                modify_date = #{modifyDate},
            </if>
        </set>
        where id = #{id}
    </update>

    <delete id="delete" parameterType="java.lang.Long" >
        delete from s_prod_sku
        where id = #{id}
    </delete>

    <select id="selectList" resultMap="prodSkuMap" >
        select 
        <include refid="table_column" />
        from s_prod_sku
        <where >
            <if test="prodId != null" >
                and null.prod_id = #{prodId}
            </if>
            <if test="skuName != null" >
                and null.sku_name = #{skuName}
            </if>
            <if test="skuStatus != null" >
                and null.sku_status = #{skuStatus}
            </if>
            <if test="skuStockCnt != null" >
                and null.sku_stock_cnt = #{skuStockCnt}
            </if>
            <if test="fragranceType != null" >
                fragrance_type = #{fragranceType},
            </if>
            <if test="alcoholCnt != null" >
                alcohol_cnt = #{alcoholCnt},
            </if>
            <if test="skuWeight != null" >
                and null.sku_weight = #{skuWeight}
            </if>
            <if test="skuCapacity != null" >
                and null.sku_capacity = #{skuCapacity}
            </if>
            <if test="skuSellPrice != null" >
                and null.sku_sell_price = #{skuSellPrice}
            </if>
            <if test="skuMarketPrice != null" >
                and null.sku_market_price = #{skuMarketPrice}
            </if>
            <if test="sellTotalCnt != null" >
                and null.sell_total_cnt = #{sellTotalCnt}
            </if>
            <if test="sort != null" >
                and null.sort = #{sort}
            </if>
            <if test="isIntegral != null" >
                and null.is_integral = #{isIntegral}
            </if>
            <if test="integralAmt != null" >
                and null.integral_amt = #{integralAmt}
            </if>
            <if test="integralCnt != null" >
                and null.integral_cnt = #{integralCnt}
            </if>
            <if test="isDel != null" >
                and null.is_del = #{isDel}
            </if>
            <if test="createDate != null" >
                and null.create_date = #{createDate}
            </if>
            <if test="modifyDate != null" >
                and null.modify_date = #{modifyDate}
            </if>
        </where>
    </select>

    <select id="getByProdId" parameterType="java.lang.Long" resultMap="prodSkuMap">
        select
        <include refid="table_column"/>
        from s_prod_sku where prod_id = #{id}
    </select>

    <update id="updateSkuStatusByProdId">
        update s_prod_sku set sku_status =#{skuStatus} where prod_id = #{id}
    </update>

    <select id="selectProdSkuStatusByProdId" parameterType="java.lang.Long" resultType="com.changfa.frame.model.app.ProdSku">
        select
        <include refid="table_column"/>
        from s_prod_sku where prod_id = #{id} and is_del =#{status}
    </select>

    <update id="updateProdSkuStatus">
        update s_prod_sku set sku_status = #{skuStatus} where id =#{id}
    </update>

    <update id="deleteProdSku">
        update s_prod_sku set is_del = 1 where id =#{id}
    </update>

    <insert id="add" parameterType="com.changfa.frame.model.app.ProdSku" >
        insert into s_prod_sku (id, prod_id, sku_name, sku_status, sku_stock_cnt, fragrance_type, alcohol_cnt, sku_weight,
            sku_capacity, sku_sell_price, sku_market_price, sell_total_cnt, sort,
            is_integral, integral_amt, integral_cnt, is_del, create_date, modify_date)
        values (#{id}, #{prodId}, #{skuName}, #{skuStatus}, #{skuStockCnt}, #{fragranceType}, #{alcoholCnt}, #{skuWeight},
            #{skuCapacity}, #{skuSellPrice}, #{skuMarketPrice}, #{sellTotalCnt}, #{sort},
            #{isIntegral}, #{integralAmt}, #{integralCnt}, #{isDel}, #{createDate}, #{modifyDate})
    </insert>






</mapper>