<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.changfa.frame.mapper.app.ProdDetailMapper" >
    <resultMap id="prodDetailMap" type="com.changfa.frame.model.app.ProdDetail" >
        <id column="id" property="id" jdbcType="BIGINT" />
        <result column="prod_id" property="prodId" jdbcType="BIGINT" />
        <result column="detail_title" property="detailTitle" jdbcType="VARCHAR" />
        <result column="detail_brief" property="detailBrief" jdbcType="VARCHAR" />
        <result column="detail_img" property="detailImg" jdbcType="VARCHAR" />
        <result column="detail_status" property="detailStatus" jdbcType="INTEGER" />
        <result column="sort" property="sort" jdbcType="INTEGER" />
        <result column="create_date" property="createDate" jdbcType="TIMESTAMP" />
        <result column="modify_date" property="modifyDate" jdbcType="TIMESTAMP" />
    </resultMap>

    <sql id="table_column" >
        id, prod_id, detail_title, detail_brief, detail_img, detail_status, sort, create_date, 
        modify_date
    </sql>

    <select id="getById" resultMap="prodDetailMap" parameterType="java.lang.Long" >
        select 
        <include refid="table_column" />
        from s_prod_detail
        where id = #{id}
    </select>

    <insert id="save" parameterType="com.changfa.frame.model.app.ProdDetail" >
        insert into s_prod_detail (id, prod_id, detail_title, detail_brief, detail_img, detail_status, 
            sort, create_date, modify_date)
        values (#{id}, #{prodId}, #{detailTitle}, #{detailBrief}, #{detailImg}, #{detailStatus}, 
            #{sort}, #{createDate}, #{modifyDate})
    </insert>

    <update id="update" parameterType="com.changfa.frame.model.app.ProdDetail" >
        update s_prod_detail
        <set >
            <if test="prodId != null" >
                prod_id = #{prodId},
            </if>
            <if test="detailTitle != null and detailTitle != ''" >
                detail_title = #{detailTitle},
            </if>
            <if test="detailBrief != null and detailBrief != ''" >
                detail_brief = #{detailBrief},
            </if>
            <if test="detailImg != null and detailImg != ''" >
                detail_img = #{detailImg},
            </if>
            <if test="detailStatus != null" >
                detail_status = #{detailStatus},
            </if>
            <if test="sort != null" >
                sort = #{sort},
            </if>
            <if test="createDate != null" >
                create_date = #{createDate},
            </if>
            <if test="modifyDate != null" >
                modify_date = #{modifyDate},
            </if>
        </set>
        where id = #{id}
    </update>

    <delete id="delete" parameterType="java.lang.Long" >
        delete from s_prod_detail
        where id = #{id}
    </delete>

    <select id="selectList" resultMap="prodDetailMap" >
        select 
        <include refid="table_column" />
        from s_prod_detail pd
        <where >
            <if test="prodId != null" >
                and pd.prod_id = #{prodId}
            </if>
            <if test="detailTitle != null and detailTitle != ''" >
                and pd.detail_title = #{detailTitle}
            </if>
            <if test="detailBrief != null and detailBrief != ''" >
                and pd.detail_brief = #{detailBrief}
            </if>
            <if test="detailImg != null and detailImg != ''" >
                and pd.detail_img = #{detailImg}
            </if>
            <if test="detailStatus != null" >
                and pd.detail_status = #{detailStatus}
            </if>
            <if test="sort != null" >
                and pd.sort = #{sort}
            </if>
            <if test="createDate != null" >
                and pd.create_date = #{createDate}
            </if>
            <if test="modifyDate != null" >
                and pd.modify_date = #{modifyDate}
            </if>
        </where>
    </select>

    <select id="getProdImgTextByProdId" parameterType="java.lang.Long" resultMap="prodDetailMap">
        select id,prod_id,detail_title,detail_brief,detail_img,sort from s_prod_detail where prod_id =#{id} order by sort asc
    </select>

    <update id="updateByProdId" parameterType="com.changfa.frame.model.app.ProdDetail">
        update s_prod_detail
        <set >
            <if test="prodId != null" >
                prod_id = #{prodId},
            </if>
            <if test="detailTitle != null and detailTitle != ''" >
                detail_title = #{detailTitle},
            </if>
            <if test="detailBrief != null and detailBrief != ''" >
                detail_brief = #{detailBrief},
            </if>
            <if test="detailImg != null and detailImg != ''" >
                detail_img = #{detailImg},
            </if>
            <if test="detailStatus != null" >
                detail_status = #{detailStatus},
            </if>
            <if test="sort != null" >
                sort = #{sort},
            </if>
            <if test="createDate != null" >
                create_date = #{createDate},
            </if>
            <if test="modifyDate != null" >
                modify_date = #{modifyDate},
            </if>
        </set>
        where prod_id = #{id}
    </update>

    <delete id="deleteByProdId" parameterType="java.lang.Long">
        delete from s_prod_detail where prod_id = #{Id}
    </delete>
    
    <update id="deleteProdDetailImg" parameterType="java.lang.Long">
        update s_prod_detail set detail_img = null where id =#{id}
    </update>

    <insert id="add" parameterType="com.changfa.frame.model.app.ProdDetail" >
        insert into s_prod_detail <include refid="table_column"/>
        values (#{id}, #{prodId}, #{detailTitle}, #{detailBrief}, #{detailImg},#{detailStatus},
            #{sort}, #{createDate}, #{modifyDate})
    </insert>


    <insert id="saveProdDetailList" parameterType="java.util.List">
        insert into s_prod_detail (<include refid="table_column"/>)
        values
        <foreach collection="list" item="item" index="index" separator=",">
            (#{item.id}, #{item.prodId}, #{item.detailTitle}, #{item.detailBrief}, #{item.detailImg},#{item.detailStatus},
            #{item.sort}, #{item.createDate}, #{item.modifyDate})
        </foreach>
    </insert>


    <update id="updateProdDetailList" parameterType="java.util.List">
        <foreach collection="list" item="item" index="index" open="" close="" separator=",">
            update s_prod_detail
            <set>
                prod_id =#{item.prodId},
                detail_title =#{item.detailTitle},
                detail_brief =#{item.detailBrief},
                detail_img =#{item.detailImg},
                detail_status =#{item.detailStatus},
                sort =#{item.sort},
                modify_date =#{item.modifyDate}
            </set>
            <where>
                id =#{item.id}
            </where>
        </foreach>
    </update>



</mapper>