<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.changfa.frame.mapper.app.ProdMapper" >
    <resultMap id="prodMap" type="com.changfa.frame.model.app.Prod">
        <id column="id" property="id" jdbcType="BIGINT" />
        <result column="winery_id" property="wineryId" jdbcType="BIGINT" />
        <result column="prod_category_id" property="prodCategoryId" jdbcType="INTEGER" />
        <result column="lable_type" property="LABLE_TYPE" jdbcType="INTEGER" />
        <result column="prod_name" property="prodName" jdbcType="VARCHAR" />
        <result column="prod_title" property="prodTitle" jdbcType="VARCHAR" />
        <result column="prod_code" property="prodCode" jdbcType="VARCHAR" />
        <result column="total_stock_cnt" property="totalStockCnt" jdbcType="BIGINT" />
        <result column="list_img" property="listImg" jdbcType="VARCHAR" />
        <result column="descri" property="descri" jdbcType="LONGVARCHAR" />
        <result column="is_limit" property="isLimit" jdbcType="TINYINT" />
        <result column="limit_count" property="limitCount" jdbcType="INTEGER" />
        <result column="prod_status" property="PROD_STATUS" jdbcType="INTEGER" />
        <result column="is_recommend" property="isRecommend" jdbcType="TINYINT" />
        <result column="admin_id" property="adminId" jdbcType="BIGINT" />
        <result column="is_del" property="isDel" jdbcType="BIT" />
        <result column="create_date" property="createDate" jdbcType="TIMESTAMP" />
        <result column="modify_date" property="modifyDate" jdbcType="TIMESTAMP" />
    </resultMap>

    <sql id="table_column" >
        id, winery_id, prod_category_id, lable_type, prod_name, prod_title, prod_code, total_stock_cnt, 
        list_img, descri, is_limit, limit_count, prod_status, is_recommend, admin_id,is_del, create_date,
        modify_date
    </sql>

    <select id="getById" resultMap="prodMap" parameterType="java.lang.Long" >
        select 
        <include refid="table_column" />
        from s_prod
        where id = #{id}
    </select>

    <insert id="save" parameterType="com.changfa.frame.model.app.Prod" >
        insert into s_prod (id, winery_id, prod_category_id, lable_type, prod_name, prod_title, 
            prod_code, total_stock_cnt, list_img, descri, is_limit, limit_count,
            prod_status, is_recommend, admin_id,is_del, create_date, modify_date)
        values (#{id}, #{wineryId}, #{prodCategoryId},#{lableType}, #{prodName}, #{prodTitle},
            #{prodCode}, #{totalStockCnt}, #{listImg}, #{descri}, #{isLimit}, #{limitCount}, 
         #{prodStatus}, #{isRecommend}, #{adminId}, #{isDel}, #{createDate}, #{modifyDate})
    </insert>

    <update id="update" parameterType="com.changfa.frame.model.app.Prod" >
        update s_prod
        <set >
            <if test="wineryId != null" >
                winery_id = #{wineryId},
            </if>
            <if test="prodCategoryId != null" >
                prod_category_id = #{prodCategoryId},
            </if>
            <if test="lableType != null" >
                lable_type = #{lableType},
            </if>
            <if test="prodName != null and prodName != ''" >
                prod_name = #{prodName},
            </if>
            <if test="prodTitle != null and prodTitle != ''" >
                prod_title = #{prodTitle},
            </if>
            <if test="prodCode != null and prodCode != ''" >
                prod_code = #{prodCode},
            </if>
            <if test="totalStockCnt != null" >
                total_stock_cnt = #{totalStockCnt},
            </if>
            <if test="listImg != null and listImg != ''" >
                list_img = #{listImg},
            </if>
            <if test="descri != null" >
                descri = #{descri},
            </if>
            <if test="isLimit != null" >
                is_limit = #{isLimit},
            </if>
            <if test="limitCount != null" >
                limit_count = #{limitCount},
            </if>
            <if test="prodStatus != null" >
                prod_status = #{prodStatus},
            </if>
            <if test="isRecommend != null" >
                is_recommend = #{isRecommend},
            </if>
            <if test="adminId != null" >
                admin_id = #{adminId},
            </if>
            <if test="isDel != null" >
                is_del = #{isDel},
            </if>
            <if test="createDate != null" >
                create_date = #{createDate},
            </if>
            <if test="modifyDate != null" >
                modify_date = #{modifyDate},
            </if>
        </set>
        where id = #{id}
    </update>

    <delete id="delete" parameterType="java.lang.Long" >
        delete from s_prod
        where id = #{id}
    </delete>

    <select id="selectList" resultMap="prodMap" >
        select 
        <include refid="table_column" />
        from s_prod p
        <where >
            <if test="wineryId != null" >
                and p.winery_id = #{wineryId}
            </if>
            <if test="prodCategoryId != null" >
                and p.prod_category_id = #{prodCategoryId}
            </if>
            <if test="lableType != null" >
                and p.lable_type = #{lableType}
            </if>
            <if test="prodName != null and prodName != ''" >
                and p.prod_name = #{prodName}
            </if>
            <if test="prodTitle != null and prodTitle != ''" >
                and p.prod_title = #{prodTitle}
            </if>
            <if test="prodCode != null and prodCode != ''" >
                and p.prod_code = #{prodCode}
            </if>
            <if test="totalStockCnt != null" >
                and p.total_stock_cnt = #{totalStockCnt}
            </if>
            <if test="listImg != null and listImg != ''" >
                and p.list_img = #{listImg}
            </if>
            <if test="descri != null" >
                and p.descri = #{descri}
            </if>
            <if test="isLimit != null" >
                and p.is_limit = #{isLimit}
            </if>
            <if test="limitCount != null" >
                and p.limit_count = #{limitCount}
            </if>
            <if test="prodStatus != null" >
                and p.prod_status = #{prodStatus}
            </if>
            <if test="isRecommend != null" >
                and p.is_recommend = #{isRecommend}
            </if>
            <if test="adminId != null" >
                and p.admin_id = #{adminId}
            </if>
            <if test="isDel != null" >
                and p.is_del = #{isDel}
            </if>
            <if test="createDate != null" >
                and p.create_date = #{createDate}
            </if>
            <if test="modifyDate != null" >
                and p.modify_date = #{modifyDate}
            </if>
        </where>
    </select>

    <select id="findProdList" resultMap="prodMap">
        select
        <include refid="table_column"/>
        from s_prod where is_del = 0
    </select>

    <update id="updateProdStatus">
        update s_prod set prod_status =#{skuStatus} where id =#{id}
    </update>

    <update id="deleteByid" parameterType="java.lang.Long">
         update s_prod set is_del = 1 where id =#{id}
    </update>

    <select id="findProdByLikeName" resultMap="prodMap">
        select
        <include refid="table_column"/>
        from s_prod where prod_name like concat(concat('%',#{prodName}),'%') and lable_type =#{lableType}
    </select>

    <insert id="add" parameterType="com.changfa.frame.model.app.Prod" >
       insert into s_prod (id, winery_id, prod_category_id, prod_name, prod_title,prod_code, total_stock_cnt, list_img, descri, is_limit, limit_count,is_recommend, admin_id,is_del, create_date, modify_date,lable_type)
       values (#{id}, #{wineryId}, #{prodCategoryId},#{prodName}, #{prodTitle},#{prodCode}, #{totalStockCnt}, #{listImg}, #{descri}, #{isLimit}, #{limitCount},#{isRecommend}, #{adminId}, #{isDel}, #{createDate}, #{modifyDate},#{LABLE_TYPE})
    </insert>

    <update id="updateProd" parameterType="com.changfa.frame.model.app.Prod" >
        update s_prod
        <set >
            <if test="wineryId != null" >
                winery_id = #{wineryId},
            </if>
            <if test="prodCategoryId != null" >
                prod_category_id = #{prodCategoryId},
            </if>
            <if test="prodName != null and prodName != ''" >
                prod_name = #{prodName},
            </if>
            <if test="prodTitle != null and prodTitle != ''" >
                prod_title = #{prodTitle},
            </if>
            <if test="prodCode != null and prodCode != ''" >
                prod_code = #{prodCode},
            </if>
            <if test="totalStockCnt != null" >
                total_stock_cnt = #{totalStockCnt},
            </if>
            <if test="listImg != null and listImg != ''" >
                list_img = #{listImg},
            </if>
            <if test="descri != null" >
                descri = #{descri},
            </if>
            <if test="isLimit != null" >
                is_limit = #{isLimit},
            </if>
            <if test="limitCount != null" >
                limit_count = #{limitCount},
            </if>
            <if test="isRecommend != null" >
                is_recommend = #{isRecommend},
            </if>
            <if test="adminId != null" >
                admin_id = #{adminId},
            </if>
            <if test="isDel != null" >
                is_del = #{isDel},
            </if>
            <if test="createDate != null" >
                create_date = #{createDate},
            </if>
            <if test="modifyDate != null" >
                modify_date = #{modifyDate},
            </if>
        </set>
        where id = #{id}
    </update>

    <select id="getProdNameList" resultMap="prodMap">
        select id,prod_name from s_prod where prod_status =1 and is_del =0
    </select>

</mapper>