<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.changfa.frame.mapper.app.WinCustomElementAdvanceMapper" >
    <resultMap id="winCustomElementAdvanceMap" type="com.changfa.frame.model.app.WinCustomElementAdvance" >
        <id column="id" property="id" jdbcType="BIGINT" />
        <result column="win_custom_element_content_id" property="winCustomElementContentId" jdbcType="BIGINT" />
        <result column="wine_custom_advance_id" property="wineCustomAdvanceId" jdbcType="BIGINT" />
        <result column="create_date" property="createDate" jdbcType="TIMESTAMP" />
        <result column="modify_date" property="modifyDate" jdbcType="TIMESTAMP" />
    </resultMap>

    <sql id="table_column" >
        id, win_custom_element_content_id, wine_custom_advance_id, create_date, modify_date
    </sql>

    <select id="getById" resultMap="winCustomElementAdvanceMap" parameterType="java.lang.Long" >
        select 
        <include refid="table_column" />
        from b_win_custom_element_advance
        where id = #{id}
    </select>

    <select id="getByWineCustomElementContentId" resultMap="winCustomElementAdvanceMap" parameterType="java.lang.Long" >
        select
        <include refid="table_column" />
        from b_win_custom_element_advance
        where win_custom_element_content_id = #{win_custom_element_content_id}
    </select>

    <insert id="save" parameterType="com.changfa.frame.model.app.WinCustomElementAdvance" >
        insert into b_win_custom_element_advance (id, win_custom_element_content_id, wine_custom_advance_id, create_date, 
            modify_date)
        values (#{id}, #{winCustomElementContentId}, #{wineCustomAdvanceId}, #{createDate}, 
            #{modifyDate})
    </insert>

    <update id="update" parameterType="com.changfa.frame.model.app.WinCustomElementAdvance" >
        update b_win_custom_element_advance
        <set >
            <if test="winCustomElementContentId != null" >
                win_custom_element_content_id = #{winCustomElementContentId},
            </if>
            <if test="wineCustomAdvanceId != null" >
                wine_custom_advance_id = #{wineCustomAdvanceId},
            </if>
            <if test="createDate != null" >
                create_date = #{createDate},
            </if>
            <if test="modifyDate != null" >
                modify_date = #{modifyDate},
            </if>
        </set>
        where id = #{id}
    </update>

    <delete id="delete" parameterType="java.lang.Long" >
        delete from b_win_custom_element_advance
        where id = #{id}
    </delete>

    <select id="selectList" resultMap="winCustomElementAdvanceMap" >
        select 
        <include refid="table_column" />
        from b_win_custom_element_advance wcea
        <where >
            <if test="winCustomElementContentId != null" >
                and wcea.win_custom_element_content_id = #{winCustomElementContentId}
            </if>
            <if test="wineCustomAdvanceId != null" >
                and wcea.wine_custom_advance_id = #{wineCustomAdvanceId}
            </if>
            <if test="createDate != null" >
                and wcea.create_date = #{createDate}
            </if>
            <if test="modifyDate != null" >
                and wcea.modify_date = #{modifyDate}
            </if>
        </where>
    </select>

    <insert id="saveList">
        insert into b_win_custom_element_advance (<include refid="table_column"/>)
        values
        <foreach collection="winCustomElementAdvanceList" item="model" separator=",">
            (#{model.id},#{model.winCustomElementContentId},#{model.wineCustomAdvanceId},#{model.createDate},#{model.modifyDate})
        </foreach>
    </insert>

    <delete id="deleteByWineCustomElementContentIdList" parameterType="java.util.List">
        delete from b_win_custom_element_advance where 1 > 2 or win_custom_element_content_id in 
        <foreach collection="list" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>