<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.changfa.frame.mapper.app.WineryMasterMapper" >
    <resultMap id="wineryMasterMap" type="com.changfa.frame.model.app.WineryMaster" >
        <id column="id" property="id" jdbcType="BIGINT" />
        <result column="mbr_id" property="mbrId" jdbcType="INTEGER" />
        <result column="winery_id" property="wineryId" jdbcType="BIGINT" />
        <result column="master_type" property="masterType" jdbcType="INTEGER" />
        <result column="master_name" property="masterName" jdbcType="VARCHAR" />
        <result column="master_detail" property="masterDetail" jdbcType="VARCHAR" />
        <result column="create_date" property="createDate" jdbcType="TIMESTAMP" />
        <result column="modify_date" property="modifyDate" jdbcType="TIMESTAMP" />

        <!-- 扩展字段 -->
        <result column="mbr_nick_name" property="mbrNickName" jdbcType="VARCHAR" />
        <result column="mbr_user_ico" property="mbrUserIco" jdbcType="VARCHAR" />
        <result column="mbr_level_name" property="mbrLevelName" jdbcType="VARCHAR" />
    </resultMap>

    <sql id="table_column" >
        id, mbr_id, winery_id, master_type, master_name, master_detail, create_date, modify_date
    </sql>

    <select id="getById" resultMap="wineryMasterMap" parameterType="java.lang.Long" >
        select 
        <include refid="table_column" />
        from b_winery_master
        where id = #{id}
    </select>

    <insert id="save" parameterType="com.changfa.frame.model.app.WineryMaster" >
        insert into b_winery_master (id, mbr_id, winery_id, master_type, master_name, master_detail, 
            create_date, modify_date)
        values (#{id}, #{mbrId}, #{wineryId}, #{masterType}, #{masterName}, #{masterDetail}, 
            #{createDate}, #{modifyDate})
    </insert>

    <update id="update" parameterType="com.changfa.frame.model.app.WineryMaster" >
        update b_winery_master
        <set >
            <if test="mbrId != null" >
                mbr_id = #{mbrId},
            </if>
            <if test="wineryId != null" >
                winery_id = #{wineryId},
            </if>
            <if test="masterType != null" >
                master_type = #{masterType},
            </if>
            <if test="masterName != null and masterName != ''" >
                master_name = #{masterName},
            </if>
            <if test="masterDetail != null and masterDetail != ''" >
                master_detail = #{masterDetail},
            </if>
            <if test="createDate != null" >
                create_date = #{createDate},
            </if>
            <if test="modifyDate != null" >
                modify_date = #{modifyDate},
            </if>
        </set>
        where id = #{id}
    </update>

    <delete id="delete" parameterType="java.lang.Long" >
        delete from b_winery_master
        where id = #{id}
    </delete>

    <select id="selectList" resultMap="wineryMasterMap" >
        select 
        <include refid="table_column" />
        from b_winery_master wineryMaster 
        <where >
            <if test="mbrId != null" >
                and wineryMaster.mbr_id = #{mbrId}
            </if>
            <if test="wineryId != null" >
                and wineryMaster.winery_id = #{wineryId}
            </if>
            <if test="masterType != null" >
                and wineryMaster.master_type = #{masterType}
            </if>
            <if test="masterName != null and masterName != ''" >
                and wineryMaster.master_name = #{masterName}
            </if>
            <if test="masterDetail != null and masterDetail != ''" >
                and wineryMaster.master_detail = #{masterDetail}
            </if>
            <if test="createDate != null" >
                and wineryMaster.create_date = #{createDate}
            </if>
            <if test="modifyDate != null" >
                and wineryMaster.modify_date = #{modifyDate}
            </if>
        </where>
    </select>

    <!-- 查询荣誉庄主列表 -->
    <select id="selectHonourWineryList" resultMap="wineryMasterMap">
        select
            m.*,e.nick_name as mbr_nick_name,
            e.user_icon as mbr_user_ico,
            l.name as mbr_level_name
        from b_winery_master m
        inner join m_member e on m.mbr_id=e.id
        left join m_mbr_level l on l.id =e.mbr_level_id
    </select>

    <!-- 根据ID查询荣誉庄主 -->
    <select id="selectHonourWineryDetail" parameterType="Long" resultMap="wineryMasterMap">
        select
            m.*,e.nick_name as mbr_nick_name,
            e.user_icon as mbr_user_ico,
            l.name as mbr_level_name
        from b_winery_master m
        inner join m_member e on m.mbr_id=e.id
        left join m_mbr_level l on l.id =e.mbr_level_id
        where m.id=#{id}
    </select>
</mapper>