<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.changfa.frame.mapper.app.WineryMasterMapper" >
    <resultMap id="wineryMasterMap" type="com.changfa.frame.model.app.WineryMaster" >
        <id column="id" property="id" jdbcType="BIGINT" />
        <result column="winery_id" property="wineryId" jdbcType="BIGINT" />
        <result column="master_name" property="masterName" jdbcType="VARCHAR" />
        <result column="master_detail" property="masterDetail" jdbcType="VARCHAR" />
        <result column="create_date" property="createDate" jdbcType="TIMESTAMP" />
        <result column="modify_date" property="modifyDate" jdbcType="TIMESTAMP" />
    </resultMap>

    <sql id="table_column" >
        id, winery_id, master_name, master_detail, create_date, modify_date
    </sql>

    <select id="getById" resultMap="wineryMasterMap" parameterType="java.lang.Long" >
        select 
        <include refid="table_column" />
        from b_winery_master
        where id = #{id}
    </select>

    <insert id="save" parameterType="com.changfa.frame.model.app.WineryMaster" >
        insert into b_winery_master (id, winery_id, master_name, master_detail, create_date, modify_date
            )
        values (#{id}, #{wineryId}, #{masterName}, #{masterDetail}, #{createDate}, #{modifyDate}
            )
    </insert>

    <update id="update" parameterType="com.changfa.frame.model.app.WineryMaster" >
        update b_winery_master
        <set >
            <if test="wineryId != null" >
                winery_id = #{wineryId},
            </if>
            <if test="masterName != null and masterName != ''" >
                master_name = #{masterName},
            </if>
            <if test="masterDetail != null and masterDetail != ''" >
                master_detail = #{masterDetail},
            </if>
            <if test="createDate != null" >
                create_date = #{createDate},
            </if>
            <if test="modifyDate != null" >
                modify_date = #{modifyDate},
            </if>
        </set>
        where id = #{id}
    </update>

    <delete id="delete" parameterType="java.lang.Long" >
        delete from b_winery_master
        where id = #{id}
    </delete>

    <select id="selectList" resultMap="wineryMasterMap" >
        select 
        <include refid="table_column" />
        from b_winery_master
        <where >
            <if test="wineryId != null" >
                and null.winery_id = #{wineryId}
            </if>
            <if test="masterName != null and masterName != ''" >
                and null.master_name = #{masterName}
            </if>
            <if test="masterDetail != null and masterDetail != ''" >
                and null.master_detail = #{masterDetail}
            </if>
            <if test="createDate != null" >
                and null.create_date = #{createDate}
            </if>
            <if test="modifyDate != null" >
                and null.modify_date = #{modifyDate}
            </if>
        </where>
    </select>

</mapper>