<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.changfa.frame.mapper.app.WinerySightDetailMapper" >
    <resultMap id="winerySightDetailMap" type="com.changfa.frame.model.app.WinerySightDetail" >
        <id column="id" property="id" jdbcType="BIGINT" />
        <result column="winery_sight_id" property="winerySightId" jdbcType="BIGINT" />
        <result column="winery_activity_id" property="wineryActivityId" jdbcType="BIGINT" />
        <result column="wine_cellar_activit_id" property="wineCellarActivityId" jdbcType="BIGINT" />
        <result column="prod_id" property="prodId" jdbcType="BIGINT" />
        <result column="prod_sku_id" property="prodSkuId" jdbcType="BIGINT" />
        <result column="winery_voucher_id" property="wineryVoucherId" jdbcType="BIGINT" />
        <result column="detail_title" property="detailTitle" jdbcType="VARCHAR" />
        <result column="detail_brief" property="detailBrief" jdbcType="VARCHAR" />
        <result column="detail_img" property="detailImg" jdbcType="VARCHAR" />
        <result column="detail_status" property="detailStatus" jdbcType="INTEGER" />
        <result column="sort" property="sort" jdbcType="INTEGER" />
        <result column="create_date" property="createDate" jdbcType="TIMESTAMP" />
        <result column="modify_date" property="modifyDate" jdbcType="TIMESTAMP" />
    </resultMap>

    <sql id="table_column" >
        id, winery_sight_id, winery_activity_id, prod_id, prod_sku_id, winery_voucher_id, detail_title,
        detail_brief, detail_img, detail_status, sort, create_date, modify_date
    </sql>

    <select id="getById" resultMap="winerySightDetailMap" parameterType="java.lang.Long" >
        select
        <include refid="table_column" />
        from b_winery_sight_detail
        where id = #{id}
    </select>

    <insert id="save" parameterType="com.changfa.frame.model.app.WinerySightDetail" >
        insert into b_winery_sight_detail (id, winery_sight_id, winery_activity_id,prod_id, prod_sku_id, winery_voucher_id,
            detail_title, detail_brief, detail_img, detail_status, sort, create_date,
            modify_date)
        values (#{id}, #{winerySightId}, #{wineryActivityId}, #{prodId}, #{prodSkuId}, #{wineryVoucherId},
            #{detailTitle}, #{detailBrief}, #{detailImg}, #{detailStatus}, #{sort}, #{createDate},
            #{modifyDate})
    </insert>

    <update id="update" parameterType="com.changfa.frame.model.app.WinerySightDetail" >
        update b_winery_sight_detail
        <set >
            <if test="winerySightId != null" >
                winery_sight_id = #{winerySightId},
            </if>
            <if test="wineryActivityId != null" >
                winery_activity_id = #{wineryActivityId},
            </if>
            <if test="prodId != null" >
                prod_id = #{prodId},
            </if>
            <if test="prodSkuId != null" >
                prod_sku_id = #{prodSkuId},
            </if>
            <if test="wineryVoucherId != null" >
                winery_voucher_id = #{wineryVoucherId},
            </if>
            <if test="detailTitle != null and detailTitle != ''" >
                detail_title = #{detailTitle},
            </if>
            <if test="detailBrief != null and detailBrief != ''" >
                detail_brief = #{detailBrief},
            </if>
            <if test="detailImg != null and detailImg != ''" >
                detail_img = #{detailImg},
            </if>
            <if test="detailStatus != null" >
                detail_status = #{detailStatus},
            </if>
            <if test="sort != null" >
                sort = #{sort},
            </if>
            <if test="createDate != null" >
                create_date = #{createDate},
            </if>
            <if test="modifyDate != null" >
                modify_date = #{modifyDate},
            </if>
        </set>
        where id = #{id}
    </update>

    <delete id="delete" parameterType="java.lang.Long" >
        delete from b_winery_sight_detail
        where id = #{id}
    </delete>

    <select id="selectList" resultMap="winerySightDetailMap" >
        select
        <include refid="table_column" />
        from b_winery_sight_detail wsd
        <where >
            <if test="winerySightId != null" >
                and wsd.winery_sight_id = #{winerySightId}
            </if>
            <if test="wineryActivityId != null" >
                and wsd.winery_activity_id = #{wineryActivityId}
            </if>
            <if test="prodId != null" >
                and wsd.prod_id = #{prodId},
            </if>
            <if test="prodSkuId != null" >
                and wsd.prod_sku_id = #{prodSkuId}
            </if>
            <if test="wineryVoucherId != null" >
                and wsd.winery_voucher_id = #{wineryVoucherId}
            </if>
            <if test="detailTitle != null and detailTitle != ''" >
                and wsd.detail_title = #{detailTitle}
            </if>
            <if test="detailBrief != null and detailBrief != ''" >
                and wsd.detail_brief = #{detailBrief}
            </if>
            <if test="detailImg != null and detailImg != ''" >
                and wsd.detail_img = #{detailImg}
            </if>
            <if test="detailStatus != null" >
                and wsd.detail_status = #{detailStatus}
            </if>
            <if test="sort != null" >
                and wsd.sort = #{sort}
            </if>
            <if test="createDate != null" >
                and wsd.create_date = #{createDate}
            </if>
            <if test="modifyDate != null" >
                and wsd.modify_date = #{modifyDate}
            </if>
        </where>
    </select>

    <select id="findSightImageTextByWinerySightId" parameterType="java.lang.Long" resultMap="winerySightDetailMap">
        select
        <include refid="table_column"/>
        from b_winery_sight_detail where winery_sight_id = #{id} order by  create_date desc
    </select>


    <insert id="saveList" parameterType="java.util.List">
        insert into b_winery_sight_detail(<include refid="table_column"/>)
        values
        <foreach collection="list" item="item" index="index" separator=",">
            (#{item.id},#{item.winerySightId},#{item.wineryActivityId},#{item.prodId},#{item.prodSkuId},#{item.wineryVoucherId},#{item.detailTitle},
             #{item.detailBrief},#{item.detailImg},#{item.detailStatus},#{item.sort},#{item.createDate},#{item.modifyDate})
        </foreach>
    </insert>

    <update id="updateList" parameterType="java.util.List">
        <foreach collection="list" item="item" index="index" open="" close="" separator=",">
            update b_winery_sight_detail
            <set>
                winery_sight_id =#{item.winerySightId},
                winery_activity_id =#{item.wineryActivityId},
                prod_id = #{item.prodId},
                prod_sku_id =#{item.prodSkuId},
                winery_voucher_id =#{item.wineryVoucherId},
                detail_title =#{item.detailTitle},
                detail_brief =#{item.detailBrief},，
                detail_img =#{item.detailImg},
                detail_status =#{item.detailStatus},
                sort =#{item.sort},
                modify_date =#{item.modifyDate}
            </set>
            <where>
                id =#{id}
            </where>
        </foreach>
    </update>
    <select id="selectListBySightIdAndStatus" resultMap="winerySightDetailMap">
        select
        <include refid="table_column" />
        from b_winery_sight_detail wsd
        <where>
            Winery_sight_id = #{id} and detail_status = #{status}
        </where>
        order by sort
    </select>

</mapper>