<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.changfa.frame.mapper.app.WineryMasterMapper" >
    <resultMap id="wineryMasterMap" type="com.changfa.frame.model.app.WineryMaster" >
        <id column="id" property="id" jdbcType="BIGINT" />
        <result column="mbr_id" property="mbrId" jdbcType="INTEGER" />
        <result column="winery_id" property="wineryId" jdbcType="BIGINT" />
        <result column="master_type" property="masterType" jdbcType="INTEGER" />
        <result column="master_name" property="masterName" jdbcType="VARCHAR" />
        <result column="master_detail" property="masterDetail" jdbcType="VARCHAR" />
        <result column="head_photo" property="headPhoto" jdbcType="VARCHAR" />
        <result column="create_date" property="createDate" jdbcType="TIMESTAMP" />
        <result column="modify_date" property="modifyDate" jdbcType="TIMESTAMP" />

        <!-- 扩展字段 -->
        <result column="mbr_level_name" property="mbrLevelName" jdbcType="VARCHAR" />
    </resultMap>

    <sql id="table_column" >
        wm.id as id, wm.mbr_id as mbr_id, wm.winery_id as winery_id, wm.master_type as master_type,
        wm.master_name as master_name, wm.master_detail as master_detail, wm.head_photo as head_photo,
        wm.create_date as create_date, wm.modify_date as modify_date
    </sql>

    <select id="getById" resultMap="wineryMasterMap" parameterType="java.lang.Long" >
        select
        <include refid="table_column" />
        from b_winery_master wm
        where wm.id = #{id}
    </select>

    <insert id="save" parameterType="com.changfa.frame.model.app.WineryMaster" >
        insert into b_winery_master (id, mbr_id, winery_id, master_type, master_name, master_detail,
            head_photo,create_date, modify_date)
        values (#{id}, #{mbrId}, #{wineryId}, #{masterType}, #{masterName}, #{masterDetail},#{headPhoto}
            #{createDate}, #{modifyDate})
    </insert>

    <update id="update" parameterType="com.changfa.frame.model.app.WineryMaster" >
        update b_winery_master
        <set >
            <if test="mbrId != null" >
                mbr_id = #{mbrId},
            </if>
            <if test="wineryId != null" >
                winery_id = #{wineryId},
            </if>
            <if test="masterType != null" >
                master_type = #{masterType},
            </if>
            <if test="masterName != null and masterName != ''" >
                master_name = #{masterName},
            </if>
            <if test="masterDetail != null and masterDetail != ''" >
                master_detail = #{masterDetail},
            </if>
             <if test="headPhoto != null and headPhoto != ''" >
                 head_photo = #{headPhoto},
            </if>
            <if test="createDate != null" >
                create_date = #{createDate},
            </if>
            <if test="modifyDate != null" >
                modify_date = #{modifyDate},
            </if>
        </set>
        where id = #{id}
    </update>

    <delete id="delete" parameterType="java.lang.Long" >
        delete from b_winery_master
        where id = #{id}
    </delete>

    <select id="selectList" resultMap="wineryMasterMap" >
        select
        <include refid="table_column" />,
        ml.name as mbr_level_name
        from b_winery_master wm
        left join m_member m on m.id = wm.mbr_id
        left join m_mbr_level ml on ml.id = m.mbr_level_id
        <where >
            <if test="mbrId != null" >
                and wm.mbr_id = #{mbrId}
            </if>
            <if test="wineryId != null" >
                and wm.winery_id = #{wineryId}
            </if>
            <if test="masterType != null" >
                and wm.master_type = #{masterType}
            </if>
            <if test="masterName != null and masterName != ''" >
                and wm.master_name = #{masterName}
            </if>
            <if test="masterDetail != null and masterDetail != ''" >
                and wm.master_detail = #{masterDetail}
            </if>
             <if test="headPhoto != null and headPhoto != ''" >
                and wm.head_photo = #{headPhoto}
            </if>
            <if test="createDate != null" >
                and wm.create_date = #{createDate}
            </if>
            <if test="modifyDate != null" >
                and wm.modify_date = #{modifyDate}
            </if>
        </where>
    </select>

</mapper>