<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.changfa.frame.mapper.app.WineCustomMapper" >
    <resultMap id="wineCustomMap" type="com.changfa.frame.model.app.WineCustom" >
        <id column="id" property="id" jdbcType="BIGINT" />
        <result column="winery_id" property="wineryId" jdbcType="BIGINT" />
        <result column="prod_sku_id" property="prodSkuId" jdbcType="BIGINT" />
        <result column="sku_name" property="skuName" jdbcType="VARCHAR" />
        <result column="custom_name" property="customName" jdbcType="VARCHAR" />
        <result column="custom_cover_img" property="customCoverImg" jdbcType="VARCHAR" />
        <result column="custom_state_img" property="customStateImg" jdbcType="VARCHAR" />
        <result column="custom_status" property="customStatus" jdbcType="INTEGER" />
        <result column="custom_price" property="customPrice" jdbcType="DECIMAL" />
        <result column="sell_total_cnt" property="sellTotalCnt" jdbcType="INTEGER" />
        <result column="create_date" property="createDate" jdbcType="TIMESTAMP" />
        <result column="modify_date" property="modifyDate" jdbcType="TIMESTAMP" />
    </resultMap>

    <sql id="table_column" >
        id, winery_id, prod_sku_id, sku_name, custom_name, custom_cover_img, custom_state_img, 
        custom_status, custom_price, sell_total_cnt, create_date, modify_date
    </sql>

    <select id="getById" resultMap="wineCustomMap" parameterType="java.lang.Long" >
        select 
        <include refid="table_column" />
        from b_wine_custom
        where id = #{id}
    </select>

    <insert id="save" parameterType="com.changfa.frame.model.app.WineCustom" >
        insert into b_wine_custom (id, winery_id, prod_sku_id, sku_name, custom_name, custom_cover_img, 
            custom_state_img, custom_status, custom_price, sell_total_cnt, create_date, 
            modify_date)
        values (#{id}, #{wineryId}, #{prodSkuId}, #{skuName}, #{customName}, #{customCoverImg}, 
            #{customStateImg}, #{customStatus}, #{customPrice}, #{sellTotalCnt}, #{createDate}, 
            #{modifyDate})
    </insert>

    <update id="update" parameterType="com.changfa.frame.model.app.WineCustom" >
        update b_wine_custom
        <set >
            <if test="wineryId != null" >
                winery_id = #{wineryId},
            </if>
            <if test="prodSkuId != null" >
                prod_sku_id = #{prodSkuId},
            </if>
            <if test="skuName != null and skuName != ''" >
                sku_name = #{skuName},
            </if>
            <if test="customName != null and customName != ''" >
                custom_name = #{customName},
            </if>
            <if test="customCoverImg != null and customCoverImg != ''" >
                custom_cover_img = #{customCoverImg},
            </if>
            <if test="customStateImg != null and customStateImg != ''" >
                custom_state_img = #{customStateImg},
            </if>
            <if test="customStatus != null" >
                custom_status = #{customStatus},
            </if>
            <if test="customPrice != null" >
                custom_price = #{customPrice},
            </if>
            <if test="sellTotalCnt != null" >
                sell_total_cnt = #{sellTotalCnt},
            </if>
            <if test="createDate != null" >
                create_date = #{createDate},
            </if>
            <if test="modifyDate != null" >
                modify_date = #{modifyDate},
            </if>
        </set>
        where id = #{id}
    </update>

    <delete id="delete" parameterType="java.lang.Long" >
        delete from b_wine_custom
        where id = #{id}
    </delete>

    <select id="selectList" resultMap="wineCustomMap" >
        select 
        <include refid="table_column" />
        from b_wine_custom wc
        <where >
            <if test="wineryId != null" >
                and wc.winery_id = #{wineryId}
            </if>
            <if test="prodSkuId != null" >
                and wc.prod_sku_id = #{prodSkuId}
            </if>
            <if test="skuName != null and skuName != ''" >
                and wc.sku_name = #{skuName}
            </if>
            <if test="customName != null and customName != ''" >
                and wc.custom_name = #{customName}
            </if>
            <if test="customCoverImg != null and customCoverImg != ''" >
                and wc.custom_cover_img = #{customCoverImg}
            </if>
            <if test="customStateImg != null and customStateImg != ''" >
                and wc.custom_state_img = #{customStateImg}
            </if>
            <if test="customStatus != null" >
                and wc.custom_status = #{customStatus}
            </if>
            <if test="customPrice != null" >
                and wc.custom_price = #{customPrice}
            </if>
            <if test="sellTotalCnt != null" >
                and wc.sell_total_cnt = #{sellTotalCnt}
            </if>
            <if test="createDate != null" >
                and wc.create_date = #{createDate}
            </if>
            <if test="modifyDate != null" >
                and wc.modify_date = #{modifyDate}
            </if>
        </where>
    </select>

    <select id="getWineCustomList" resultMap="wineCustomMap">
        select
        <include refid="table_column"/>
        from b_wine_custom  where custom_status != 1  order by create_date  desc
    </select>

    <select id="getWineCustomListByName" parameterType="string" resultMap="wineCustomMap">

        select a.*,b.elementName from  b_wine_custom a left join
        (select wcec.wine_custom_id id,group_concat(wce.element_name) elementName
        from b_wine_custom_element_content wcec join b_wine_custom_element wce
        on wcec.wine_custom_element_id = wce.id and wcec.wine_custom_id
        in(select id from b_wine_custom where custom_name like concat(concat('%',#{customName}),'%'))
        group by wcec.wine_custom_id) b on a.id = b.id

    </select>

    <select id="getWineCustomContianProd" parameterType="java.lang.Long" resultMap="wineCustomMap">
        select wc.*,p.id prodId,p.prod_name prodName from b_wine_custom wc
        join s_prod_sku ps on wc.prod_sku_id = ps.id
        join s_prod p on ps.prod_id = p.id where  wc.id = #{id}
    </select>

</mapper>