<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.changfa.frame.mapper.app.WineryActivityMapper" >
    <resultMap id="wineryActivityMap" type="com.changfa.frame.model.app.WineryActivity" >
        <result column="id" property="id" jdbcType="LONGVARCHAR" />
        <result column="winery_id" property="wineryId" jdbcType="BIGINT" />
        <result column="act_title" property="actTitle" jdbcType="VARCHAR" />
        <result column="act_cover_img" property="actCoverImg" jdbcType="VARCHAR" />
        <result column="is_platform" property="isPlatform" jdbcType="TINYINT" />
        <result column="act_type" property="actType" jdbcType="INTEGER" />
        <result column="sign_start_date" property="signStartDate" jdbcType="TIMESTAMP" />
        <result column="sign_end_date" property="signEndDate" jdbcType="TIMESTAMP" />
        <result column="act_start_date" property="actStartDate" jdbcType="TIMESTAMP" />
        <result column="act_end_date" property="actEndDate" jdbcType="TIMESTAMP" />
        <result column="like_total_cnt" property="likeTotalCnt" jdbcType="INTEGER" />
        <result column="share_total_cnt" property="shareTotalCnt" jdbcType="INTEGER" />
        <result column="sign_total_cnt" property="signTotalCnt" jdbcType="BIGINT" />
        <result column="create_date" property="createDate" jdbcType="TIMESTAMP" />
        <result column="modify_date" property="modifyDate" jdbcType="TIMESTAMP" />
        <result column="act_status" property="actStatus" jdbcType="INTEGER" />

        <!-- 扩展字段 -->
        <result column="like_status" property="likeStatus" jdbcType="VARCHAR" />
        <result column="mbr_act_status" property="mbrActStatus" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="table_column" >
        id, winery_id, act_title, act_cover_img, is_platform, act_type, sign_start_date, sign_end_date,act_start_date,act_end_date,like_total_cnt,share_total_cnt,sign_total_cnt,create_date,modify_date,act_status
    </sql>

    <select id="getById" resultMap="wineryActivityMap" parameterType="java.lang.Long" >
        select
        <include refid="table_column" />
        from b_winery_activity a
        where a.id = #{id}
    </select>

    <insert id="save" parameterType="com.changfa.frame.model.app.WineryActivity" >
        insert into b_winery_activity (id, winery_id, act_title, act_cover_img, is_platform, act_type, 
            sign_start_date, sign_end_date, act_start_date, act_end_date, like_total_cnt, 
            share_total_cnt, sign_total_cnt, create_date, modify_date, act_status
            )
        values (#{id}, #{wineryId}, #{actTitle}, #{actCoverImg}, #{isPlatform}, #{actType}, 
            #{signStartDate}, #{signEndDate}, #{actStartDate}, #{actEndDate}, #{likeTotalCnt}, 
            #{shareTotalCnt}, #{signTotalCnt}, #{createDate}, #{modifyDate}, #{actStatus}
            )
    </insert>

    <update id="update" parameterType="com.changfa.frame.model.app.WineryActivityLike" >
        update b_winery_activity
        <set >
            <if test="wineryId != null" >
                winery_id = #{wineryId},
            </if>
            <if test="actTitle != null and actTitle != ''" >
                act_title = #{actTitle},
            </if>
            <if test="actCoverImg != null and actCoverImg != ''" >
                act_cover_img = #{actCoverImg},
            </if>
            <if test="isPlatform != null" >
                is_platform = #{isPlatform},
            </if>
            <if test="actType != null" >
                act_type = #{actType},
            </if>
            <if test="signStartDate != null" >
                sign_start_date = #{signStartDate},
            </if>
            <if test="signEndDate != null" >
                sign_end_date = #{signEndDate},
            </if>
            <if test="actStartDate != null" >
                act_start_date = #{actStartDate},
            </if>
            <if test="actEndDate != null" >
                act_end_date = #{actEndDate},
            </if>
            <if test="likeTotalCnt != null" >
                like_total_cnt = #{likeTotalCnt},
            </if>
            <if test="shareTotalCnt != null" >
                share_total_cnt = #{shareTotalCnt},
            </if>
            <if test="signTotalCnt != null" >
                sign_total_cnt = #{signTotalCnt},
            </if>
            <if test="createDate != null" >
                create_date = #{createDate},
            </if>
            <if test="modifyDate != null" >
                modify_date = #{modifyDate},
            </if>
            <if test="actStatus != null" >
                act_status = #{actStatus}
            </if>
        </set>
        where id = #{id}
    </update>
    <select id="selectList" resultMap="wineryActivityMap" >
        select 
        <include refid="table_column" />
        from b_winery_activity wineryActivity
        <where >
            <if test="id != null" >
                and wineryActivity.id = #{id}
            </if>
            <if test="wineryId != null" >
                and wineryActivity.winery_id = #{wineryId}
            </if>
            <if test="actTitle != null and actTitle != ''" >
                and wineryActivity.act_title = #{actTitle}
            </if>
            <if test="actCoverImg != null and actCoverImg != ''" >
                and wineryActivity.act_cover_img = #{actCoverImg}
            </if>
            <if test="isPlatform != null" >
                and wineryActivity.is_platform = #{isPlatform}
            </if>
            <if test="actType != null" >
                and wineryActivity.act_type = #{actType}
            </if>
            <if test="signStartDate != null" >
                and wineryActivity.sign_start_date = #{signStartDate}
            </if>
            <if test="signEndDate != null" >
                and wineryActivity.sign_end_date = #{signEndDate}
            </if>
            <if test="actStartDate != null" >
                and wineryActivity.act_start_date = #{actStartDate}
            </if>
            <if test="actEndDate != null" >
                and wineryActivity.act_end_date = #{actEndDate}
            </if>
            <if test="likeTotalCnt != null" >
                and wineryActivity.like_total_cnt = #{likeTotalCnt}
            </if>
            <if test="shareTotalCnt != null" >
                and wineryActivity.share_total_cnt = #{shareTotalCnt}
            </if>
            <if test="signTotalCnt != null" >
                and wineryActivity.sign_total_cnt = #{signTotalCnt}
            </if>
            <if test="createDate != null" >
                and wineryActivity.create_date = #{createDate}
            </if>
            <if test="modifyDate != null" >
                and wineryActivity.modify_date = #{modifyDate}
            </if>
            <if test="actStatus != null" >
                and wineryActivity.act_status = #{actStatus}
            </if>
        </where>
    </select>
    
    <select id="selectNoEndList" parameterType="Long" resultMap="wineryActivityMap">
        select a.*,ifnull(s.mbr_act_status,0) mbr_act_status from b_winery_activity a
        left join m_mbr_winery_activity_sign s on a.id=s.winery_activity_id and s.mbr_id=#{mbrId}
        where act_status = 2 and act_end_date <![CDATA[ >= ]]> now()
    </select>

    <select id="selectSecById" resultMap="wineryActivityMap">
        select a.*,ifnull(l.like_status,0) like_status,ifnull(s.mbr_act_status,0) mbr_act_status from b_winery_activity a
        left join b_winery_activity_like l on a.id = l.winery_id and l.mbr_id=#{mbrId}
        left join m_mbr_winery_activity_sign s on a.id=s.winery_activity_id and s.mbr_id=#{mbrId}
        where a.id = #{id}
    </select>

    <select id="selectSecList" parameterType="Long" resultMap="wineryActivityMap">
        select a.*,ifnull(l.like_status,0) like_status,ifnull(s.mbr_act_status,0) mbr_act_status from b_winery_activity a
        left join b_winery_activity_like l on a.id = l.winery_id and l.mbr_id=#{mbrId}
        left join m_mbr_winery_activity_sign s on a.id=s.winery_activity_id and s.mbr_id=#{mbrId}
        where a.act_status = 2
    </select>

    <select id="selectMySignAct" parameterType="Long" resultMap="wineryActivityMap">
        select a.* from b_winery_activity a
        inner join m_mbr_winery_activity_sign s on a.id = s.winery_activity_id
        where a.act_status=2 and s.mbr_id=#{mbrId}
        order by a.act_end_date desc
    </select>
</mapper>