<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.changfa.frame.mapper.app.WineryWineProdMapper" >
    <resultMap id="wineryWineProdMap" type="com.changfa.frame.model.app.WineryWineProd" >
        <id column="id" property="id" jdbcType="BIGINT" />
        <result column="winery_wine_id" property="wineryWineId" jdbcType="BIGINT" />
        <result column="winery_id" property="wineryId" jdbcType="BIGINT" />
        <result column="prod_id" property="prodId" jdbcType="BIGINT" />
        <result column="total_sell_cnt" property="totalSellCnt" jdbcType="INTEGER" />
        <result column="wine_prod_breif" property="wineProdBreif" javaType="VARCHAR"></result>
        <result column="wine_prod_img" property="wineProdImg" javaType="VARCHAR"></result>
        <result column="create_date" property="createDate" jdbcType="TIMESTAMP" />
        <result column="modify_date" property="modifyDate" jdbcType="TIMESTAMP" />
    </resultMap>

    <sql id="table_column" >
        id, winery_wine_id, winery_id, prod_id, total_sell_cnt,wine_prod_breif, wine_prod_img, create_date, modify_date
    </sql>

    <select id="getById" resultMap="wineryWineProdMap" parameterType="java.lang.Long" >
        select 
        <include refid="table_column" />
        from b_winery_wine_prod
        where id = #{id}
    </select>

    <insert id="save" parameterType="com.changfa.frame.model.app.WineryWineProd" >
        insert into b_winery_wine_prod (id, winery_wine_id, winery_id, prod_id, total_sell_cnt, create_date, 
            modify_date)
        values (#{id}, #{wineryWineId}, #{wineryId}, #{prodId}, #{totalSellCnt}, #{createDate}, 
            #{modifyDate})
    </insert>

    <update id="update" parameterType="com.changfa.frame.model.app.WineryWineProd" >
        update b_winery_wine_prod
        <set >
            <if test="wineryWineId != null" >
                winery_wine_id = #{wineryWineId},
            </if>
            <if test="wineryId != null" >
                winery_id = #{wineryId},
            </if>
            <if test="prodId != null" >
                prod_id = #{prodId},
            </if>
            <if test="totalSellCnt != null" >
                total_sell_cnt = #{totalSellCnt},
            </if>
            <if test="createDate != null" >
                create_date = #{createDate},
            </if>
            <if test="modifyDate != null" >
                modify_date = #{modifyDate},
            </if>
        </set>
        where id = #{id}
    </update>

    <delete id="delete" parameterType="java.lang.Long" >
        delete from b_winery_wine_prod
        where id = #{id}
    </delete>

    <select id="selectList" resultMap="wineryWineProdMap" >
        select 
        <include refid="table_column" />
        from b_winery_wine_prod wwp
        <where >
            <if test="wineryWineId != null" >
                and wwp.winery_wine_id = #{wineryWineId}
            </if>
            <if test="wineryId != null" >
                and wwp.winery_id = #{wineryId}
            </if>
            <if test="prodId != null" >
                and wwp.prod_id = #{prodId}
            </if>
            <if test="totalSellCnt != null" >
                and wwp.total_sell_cnt = #{totalSellCnt}
            </if>
            <if test="createDate != null" >
                and wwp.create_date = #{createDate}
            </if>
            <if test="modifyDate != null" >
                and wwp.modify_date = #{modifyDate}
            </if>
        </where>
    </select>

    <select id="getProdListByWinerWineId" parameterType="java.lang.Long" resultMap="wineryWineProdMap">
        select
        <include refid="table_column"/>
        from b_winery_wine_prod where winery_wine_id =#{wineryWineId}
    </select>

    <select id="getByWineryWineById" parameterType="java.lang.Long" resultMap="wineryWineProdMap">
        select
        <include refid="table_column"/>
        from b_winery_wine_prod  where winery_wine_id =#{id}
    </select>

    <delete id="deleteWineryWineById" parameterType="java.lang.Long">
        delete from b_winery_wine_prod where winery_wine_id =#{id}
    </delete>

</mapper>