<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.changfa.frame.mapper.app.WinerySightImgMapper" >
    <resultMap id="winerySightImgMap" type="com.changfa.frame.model.WinerySightImg" >
        <result column="id" property="id" jdbcType="BIGINT" />
        <result column="winery_sight_id" property="winerySightId" jdbcType="BIGINT" />
        <result column="img_name" property="imgName" jdbcType="VARCHAR" />
        <result column="img_addr" property="imgAddr" jdbcType="VARCHAR" />
        <result column="img_remark" property="imgRemark" jdbcType="VARCHAR" />
        <result column="create_date" property="createDate" jdbcType="TIMESTAMP" />
        <result column="modify_date" property="modifyDate" jdbcType="TIMESTAMP" />
    </resultMap>

    <sql id="Base_Column_List">
        id, winery_sight_id, img_name, img_addr, img_remark, create_date, modify_date
    </sql>

    <insert id="save" parameterType="com.changfa.frame.model.WinerySightImg" >
        insert into b_winery_sight_img (id, winery_sight_id, img_name, img_addr, img_remark, create_date, 
            modify_date)
        values (#{id}, #{winerySightId}, #{imgName}, #{imgAddr}, #{imgRemark}, #{createDate}, 
            #{modifyDate})
    </insert>

    <select id="selectList" resultMap="winerySightImgMap" >
        select 
        <include refid="Base_Column_List" />
        from b_winery_sight_img
        <where >
            <if test="id != null" >
                and null.id = #{id}
            </if>
            <if test="winerySightId != null" >
                and null.winery_sight_id = #{winerySightId}
            </if>
            <if test="imgName != null and imgName != ''" >
                and null.img_name = #{imgName}
            </if>
            <if test="imgAddr != null and imgAddr != ''" >
                and null.img_addr = #{imgAddr}
            </if>
            <if test="imgRemark != null and imgRemark != ''" >
                and null.img_remark = #{imgRemark}
            </if>
            <if test="createDate != null" >
                and null.create_date = #{createDate}
            </if>
            <if test="modifyDate != null" >
                and null.modify_date = #{modifyDate}
            </if>
        </where>
    </select>

</mapper>